:root {
    --primary-color:#ee4d2d;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --star-gold-color:#ffce3e;
    --heart-color: #f63d30;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
    --normal-font-size: 14px;
    --h1-font-size: 1.5rem; 
    --font-semi-bold: 600;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: flex;  */
    animation: fadeIn linear 0.1s;
    display: none;
    z-index: 10;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0,0, 0.4);
    /* display:none ; */
}

.modal.open {
    display: flex;
}

.modal__body {
    --growth-from:0.7;
    --growth-to:1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    } to {
        transform: scale(var(--growth-to));
    }
}

/* Button Styles*/
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size:1.5rem;
    padding: 0 ;
    color: var(--text-color);
    cursor: pointer;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0,0, 0.04);
}

.btn.btn--size-s {
    height: 32px;
    font-size:1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--primary:hover {
    opacity: .9;
}

/* Select */ 
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input__label {
    font-size:1.4rem;
}

.select-input-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    position: relative;
    top: 1px;
} 

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 27px;
    padding: 8px 16px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    display:none;
    z-index: 1;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list::after {
    content: '';
    display: block;
    position: absolute;               /*Cầu nối*/
    width: 100%;
    height: 30px;
    top: -16px;
    right: 0;
    /*background-color: #ee4d2d;*/
}

.select-input__link {
    font-size:1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color:var(--primary-color)
}

/* Toast */
.toast {
    min-width: 400px;
    max-width: 450px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 6px;
    margin-top: 24px;
    border-left: 4px solid #ccc;
    padding: 20px 0;
    box-shadow: 0 5px 8px rgba(0, 0,0, 0.08);
    transition: all linear .3s;
} 

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 2002;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100%) + 32px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast__icon {
    padding: 0 16px;
    font-size: 24px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
    line-height: 1.6;
}

.toast__close {
    padding: 0 16px;
    font-size: 24px;
    color: rgba(0, 0,0, 0.08);
    cursor: pointer;
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--err {
    border-color: var(--primary-color);
}

.toast--err .toast__icon {
    color: var(--primary-color);
}

/* Loading Spinner */
.spinner {
    width: 66px;
    height: 66px;
    border: 6px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner .7s linear infinite;
}

@keyframes spinner {
    from {

    } to {
        transform: rotate(360deg);
    }
}

/* Rate */
.rate {
    display: grid;
    row-gap: 1rem;
    padding: 30px 0;
    border-bottom: 1px solid var(--border-color);
}

.rate__header {
    margin: 0 auto;
    font-size: 12px;
    display: grid;
    row-gap: 1rem;
}

.rate__title-point {
    font-size: 36px;
} 

.rate__title-total {
    font-size: 24px;
    color: #afafac;
    line-height: 22px;
}

.rate__title {
    display: flex;
    justify-content: center;
}

.rate__stars i {
    font-size: 30px;
    color: var(--star-gold-color);
}

.rate__evaluate {
    margin: 0 auto;
}

.rate__body {
    margin: 0 auto;
    display: grid;
    row-gap: 1rem;
}

.rate__star {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.rate__num-5-percent,
.rate__num-4-percent,
.rate__num-3-percent,
.rate__num-2-percent,
.rate__num-1-percent {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.rate__icon-blur {
    font-size: var(--normal-font-size);
    color: #eff0f5;
} 

.rate__icon {
    font-size: var(--normal-font-size);
    color: var(--star-gold-color);
}

.rate__bar {
    height: 12px;
    width: 138px;
    background-color: #eff0f5;
}

.rate__percent-box {
    height: inherit;
    width: 20%;
    background-color: var(--star-gold-color);
    display: block;
}

.rate__me {
    display: grid;
    grid-template-areas: "title title" "stars button";
    gap: 1rem;
    margin-top: 20px;
}

.rate__me-title {
    grid-area: title;
    font-size: 18px;
}

.rate__me-stars {
    grid-area: stars;
    font-size: 30px;
    color: var(--star-gold-color);
}

.btn-evaluate {
    grid-area: button;
}

/* Comment */
.comment {
    padding: 20px 30px;
    margin: 10px 4px;
    background-color: var(--white-color);
    margin-bottom: 40px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.comment__title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.comment__body {
    margin-top: 30px;
}

.comment__container {
    display: grid;
    background-color: var(--white-color);
    grid-template-areas: "user user user" "comment comment comment" "... ... controls";
    gap: .5rem;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.comment__user-img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.comment__user {
    grid-area: user;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.comment__username {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.comment__at {
    font-size: var(--normal-font-size);
}

.comment__controls {
    grid-area: controls;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-self: center;
}

.comment__text {
    grid-area: comment;
    font-size: var(--normal-font-size);
    line-height: 1.5;
    text-align: justify;
}

.comment__reply,
.comment__delete,
.comment__edit {
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
}

.comment__delete {
    color: var(--primary-color);
}

.comment__icon {
    margin-right: 8px;
    font-size: 2rem;
}

.comment__replies {
    margin-left: 2.5rem;
    padding-left: 2.4rem;
    border-left: 1px solid var(--border-color);
}

.comment__reply-to {
    color: #256eff;
}

.comment__add {
    display: grid;
    grid-template-areas: "input input input" "avatar ... button";
    grid-template-rows: auto min-content;
    /* align-items: center; */
    background-color: var(--white-color);
    margin-top: 30px;
    border-radius: 2px;
    gap: .5rem;
}

.comment__add .comment__user-img {
    grid-area: avatar;
}

.comment__add-input {
    grid-area: input;
    /* outline: none; */
    border-radius: 2px;
    height: 6rem;
    padding: .5rem;
    outline: none;
    resize: none;
    border: 1px solid var(--border-color);
}

.comment__add-input:focus {
    border-color: #888;
}

.comment__add-btn {
    grid-area: button;
}

.comment__add-btn {
    background-color: var(--primary-color);
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size:1.5rem;
    padding: 0 ;
    color: var(--white-color);
    cursor: pointer;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}
/*Pagination*/
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item__link {
    display: block; /*Có mới đặt được chiều ngang*/
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    font-weight: 300;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

    .pagination-item--active .pagination-item__link:hover {
        background-color: #ed5c3f;
    }

/* Chat */
.chat {
    position: fixed;
    bottom: 0;
    right: 8px;
    /* width: 642px; */
    height: 502px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .122);
    transition: width .25s cubic-bezier(.4, .8, .74, 1);
    transform-origin: 90% bottom;
    animation: chatGrowth ease-in .3s;
    will-change: opacity, transform;
    display: none;
}

@keyframes chatGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.chat__btn {
    position: fixed;
    right: 8px;
    bottom: 0;
    padding: 12px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 22px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 4px 20px 0 rgba(28, 28, 51, .16);
    cursor: pointer;
    /* display: none; */
}

.chat.hide-chat-window {
    width: 224px;
}

.chat__header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
    font-size: var(--normal-font-size);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08);
}

.chat__header-title {
    font-size: 22px;
    color: var(--primary-color);
}

.chat__header-btns {
    display: flex;
    column-gap: 16px;
}

.chat__header-btn {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
}

.chat__header-btn-arrow,
.chat__header-btn-down {
    font-size: 16px;
    color: #333;
    transition: all .4s;
}

.chat__header-btn-arrow.transform {
    transform: rotate(180deg);
}

.chat__body {
    display: flex;
    height: 460px;
}

.chat__body-left {
    width: 224px;
    display: flex;
    flex-direction: column;
}

.chat__body-right {
    border-left: 1px solid var(--border-color);
    width: 416px;
}

.chat__body-right.hide-chat-window {
    display: none;
}

.chat__body-search {
    display: flex;
    column-gap: 8px;
    height: 48px;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--normal-font-size);
    width: 100%;
}

.chat__body-search-box {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: var(--normal-font-size);
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0 12px;
}

.chat__body-search-icon {
    font-size: 16px;
    color: #999;
}

.chat__body-search-sub {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    color: var(--text-color);
    column-gap: 4px;
    cursor: pointer;
}

.chat__body-search-input {
    border: none;
    outline: none;
    width: 100%;
}

.chat__body-search-sub-icon {
    font-size: 20px;
    color: #999;
}

.chat__body-search-sub-list {
    position: absolute;
    width: 100px;
    list-style: none;
    display: none;
    top: 20px;
    right: 0;
    padding: 8px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0,0, 0.06);
}

.chat__body-search-sub-list.active {
    display: block;
}

.chat__body-search-sub-item {
    padding: 8px 16px 8px 20px;
    display: flex;
    cursor: pointer;
}

.chat__body-search-sub-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.chat__body-shop {
    flex: 1;
    font-size: var(--normal-font-size);
}

.chat__shop-list {
    list-style: none;
}

.chat__shop-item {
    height: 62px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    column-gap: 8px;
}

.chat__shop-item.active {
    background-color: rgba(0, 0, 0, .08);
}

.chat__shop-item-img,
.chat__body-shop-name-sub-header-img {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

.chat__shop-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat__shop-item-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__shop-item-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat__shop-item-time {
    font-size: 12px;
    color: #666;
}

.chat__shop-item-info-bottom {
    color: #666;
    font-weight: 400;
    line-height: 16px;
    height: 16px;
    margin-top: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.chat__body-shop-name {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: var(--normal-font-size);
    padding-left: 12px;
    cursor: pointer;
}

.chat__body-shop-name-icon {
    font-size: 20px;
    margin-left: 4px;
    color: #999;
    cursor: pointer;
    transition: all .3s;
}

.chat__body-shop-name-sub-header {
    display: flex;
    column-gap: 12px;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-color);
}

.chat__body-shop-name-sub {
    position: absolute;
    top: 30px;
    width: 215px;
    font-size: 12px;
    line-height: 16px;
    background-color: var(--white-color);
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .06);
    z-index: 1;
    display: none;
}

.chat__body-shop-name:hover .chat__body-shop-name-sub {
    display: block;
}

.chat__body-shop-name-sub-header-title {
    font-size: 16px;
}

.chat__body-shop-name-sub-list {
    list-style: none;
    margin: 4px 0;
}

.chat__body-shop-name-sub-item {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.chat__body-shop-name-sub-control {
    position: relative;
    height: 16px;
    width: 32px;
    border-radius: 8px;
    background-color: #b7b7b7;
}

.chat__body-shop-name-sub-control.active {
    background-color: #5c7;
}

.chat__body-shop-name-sub-control-circle {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 2px;
    margin-top: 2px;
    background-color: var(--white-color);
    transition: left .3s ease-in-out;
}

.chat__body-shop-name-sub-control-circle.active {
    left: 18px;
}

.chat__body-shop-name-sub-item-link {
    width: 100%;
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__body-shop-name-sub-item-icon {
    font-size: 20px;
    color: #999;
}

.chat__body-shop-name-sub-bottom {
    border-top: 1px solid var(--border-color);
}

.chat__body-shop-name-sub-bottm-link {
    display: block;
    padding: 8px 0;
    margin-top: 4px;
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__body-message-container {
    height: calc(100% - 130px);
    background-color: #f3f3f3;
}

.chat__body-message {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--border-color);
}

.chat__body-message-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 130px;
    border-top: 1px solid var(--border-color);
}

.chat__body-message-bottom-box {
    padding: 8px;
}

.chat__body-message-bottom-input {
    resize: none;
    width: 100%;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    padding: 4px 8px 4px 2px;
    font-family: 'Roboto', sans-serif;
}

.chat__body-message-bottom-input::placeholder {
    font-family: 'Roboto', sans-serif;
}

.chat__body-message-bottom-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.chat__body-message-bottom-list {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.chat__body-message-bottom-item-icon {
    font-size: 18px;
    color: #8ea4d1;
}