/*=============== GOOGLE FONTS ===============*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lemon&family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color:#ee4d2d;
    --second-color: #d0011b;
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --border-color:#dbdbdb;
    --star-gold-color:#ffce3e;
    --heart-color: #f63d30;
    --danger-color: #ff7782;
    --success-color: #41f1b6;
    --warning-color: #ffbb55;
    --link-color: #05a;
    --sub-link-color: #7380ec;
    --normal-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;

    --normal-font-size: 14px;
    --body-font: 'Roboro', sans-serif;
    --h1-font-size: 1.5rem; 
    --font-semi-bold: 600;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: var(--normal-font-size);
    /* line-height: 1.6rem; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input, textarea, button {
    border: none;
    outline: none;
    font-family: var(--body-font);
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: flex;  */
    animation: fadeIn linear 0.1s;
    display: none;
    z-index: 10;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* display:none ; */
}

.modal.open {
    display: flex;
}

.modal.hide {
    display: none;
}

.modal__body {
    --growth-from:0.7;
    --growth-to:1;
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.1s;
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    } to {
        transform: scale(var(--growth-to));
    }
}

/* Confirm */
.confirm {
    color: var(--text-color);
    width: 100%;
    border-radius: 4px;
    font-size: var(--normal-font-size);
    background-color: var(--white-color);
    padding: 16px 20px;
}

.confirm__btn-back {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

/* Modal Confirm */
.modal__confirm {
    border-radius: 4px;
    padding: 30px;
    background-color: var(--white-color);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
}

.modal__confirm-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal__confirm-title {
    font-size: 18px;
}

.modal__confirm-close {
    font-size: 20px;
    color: rgba(0, 0, 0, .54);
    cursor: pointer;
}

.modal__confirm-text {
    width: 380px;
    font-size: 16px;
    color: #555;
    line-height: 20px;
    text-align: justify;
}

.modal__confirm-desc {
    width: 380px;
    font-size: 14px;
    color: #555;
    line-height: 20px;
    text-align: justify;
}

.modal__confirm-btns {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.modal__confirm-btn-destroy {
    border-radius: 3px;
    border: 1px solid var(--border-color);
    line-height: 1.5;
    padding: 8px 16px;
    text-align: center;
    color: #555;
    margin-left: auto;
}

.modal__confirm-btn-destroy:hover {
    background-color: rgba(0, 0, 0, .02);
    cursor: pointer;
}

.modal__confirm-btn-method {
    flex: 1;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    line-height: 1.5;
    padding: 8px 16px;
    text-align: center;
    color: #555;
}

.modal__confirm-btn-method:hover {
    background-color: rgba(0, 0, 0, .02);
    cursor: pointer;
}

.modal__confirm-btn-send {
    padding: 8px 16px;
    color: var(--white-color);
    border-radius: 3px;
    line-height: 1.5;
    background-color: var(--primary-color);
    cursor: pointer;
}

.modal__confirm-btn-send:hover {
    opacity: .9;
}

/* Button Styles*/
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 0 ;
    color: var(--text-color);
    cursor: pointer;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0,0, 0.04);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--primary:hover {
    opacity: .9;
}

/* Select */ 
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input-icon {
    font-size: 16px;
    color: #4a4a4a;
    position: relative;
    top: 1px;
} 

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 27px;
    padding: 8px 16px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    display:none;
    z-index: 1;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list::after {
    content: '';
    display: block;
    position: absolute;               /*Cầu nối*/
    width: 100%;
    height: 30px;
    top: -16px;
    right: 0;
    /*background-color: #ee4d2d;*/
}

.select-input__link {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color:var(--primary-color)
}

/* Toast */
.toast {
    min-width: 400px;
    max-width: 450px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 6px;
    margin-top: 24px;
    border-left: 4px solid #ccc;
    padding: 20px 0;
    box-shadow: 0 5px 8px rgba(0, 0,0, 0.08);
    transition: all linear .3s;
} 

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 2002;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100%) + 32px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast__icon {
    padding: 0 16px;
    font-size: 24px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
    line-height: 1.6;
}

.toast__close {
    padding: 0 16px;
    font-size: 24px;
    color: rgba(0, 0,0, 0.08);
    cursor: pointer;
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--err {
    border-color: var(--primary-color);
}

.toast--err .toast__icon {
    color: var(--primary-color);
}

/* Loading Spinner */
.spinner {
    width: 66px;
    height: 66px;
    border: 6px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner .7s linear infinite;
}

.spinner-btn {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #dedede;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner .7s linear infinite;
}

.spinner.hide {
    display: none;
}

@keyframes spinner {
    from {

    } to {
        transform: rotate(360deg);
    }
}

/* Rate */
.rate {
    display: grid;
    row-gap: 1rem;
    padding: 30px 0;
}

.rate__header {
    margin: 0 auto;
    font-size: 12px;
    display: grid;
    row-gap: 1rem;
}

.rate__title-point {
    font-size: 36px;
    line-height: 22px;
} 

.rate__title-total {
    font-size: 24px;
    color: #afafac;
    line-height: 22px;
}

.rate__title {
    display: flex;
    justify-content: center;
}

.rate__stars i {
    font-size: 30px;
    color: var(--star-gold-color);
}

.rate__evaluate {
    margin: 0 auto;
}

.rate__body {
    margin: 0 auto;
    display: grid;
    row-gap: 1rem;
}

.rate__star {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.rate__num-5-percent,
.rate__num-4-percent,
.rate__num-3-percent,
.rate__num-2-percent,
.rate__num-1-percent {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.rate__icon-blur {
    font-size: var(--normal-font-size);
    color: #eff0f5;
} 

.rate__icon {
    font-size: var(--normal-font-size);
    color: var(--star-gold-color);
}

.rate__bar {
    height: 12px;
    width: 138px;
    background-color: #eff0f5;
}

.rate__percent-box {
    height: inherit;
    width: 20%;
    background-color: var(--star-gold-color);
    display: block;
}

.rate__me {
    display: grid;
    grid-template-areas: "title title" "stars button";
    gap: 1rem;
    margin-top: 20px;
}

.rate__me-title {
    grid-area: title;
    font-size: 18px;
}

.rate__me-stars {
    grid-area: stars;
    font-size: 30px;
    color: var(--star-gold-color);
}

.btn-evaluate {
    grid-area: button;
}

/* Product */
.home-product {
    margin-bottom: 10px;
    padding: 0 4px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

    .home-product-item:hover {
        transform: translateY(-1px);
        box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);
    }

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
}

.home-product-item__img-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-product-item__img-loading-icon {
    font-size: 60px;
    color: #ededed;
}

.home-product-item__name {
    position: relative;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    margin: 10px 10px 6px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical; /*Ngắt xuống dòng tạo dấu 3 chấm*/
    -webkit-line-clamp: 2;
}

.home-product-item__name-loading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--white-color);
    display: grid;
}

.home-product-item__name-loading-line {
    height: var(--normal-font-size);
    width: 100%;
    background-color: #ededed;
    border-radius: 2px;
}

.home-product-item__price {
    display: flex;
    align-items: baseline; /*Căn chân dòng*/
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
}

.home-product-item__price-old {
    position: relative;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-old-loading,
.home-product-item__price-current-loading,
.home-product-item__like-loading,
.home-product-item__rating-loading,
.home-product-item__sold-loading,
.home-product-item__brand-loading,
.home-product-item__origin-name-loading {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ededed;
    border-radius: 2px;
}

.home-product-item__price-current {
    position: relative;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 10px 0;
}

.home-product-item__like {
    position: relative;
    font-size: 16px;
    padding: 2px;
}

i.home-product-item__like-icon-fill,
i.home-product-item__like-icon-empty {
    display: none;
    color: #f63d30;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    /* display: inline-block */
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    /* display: none; */
    display: inline-block;
}

.home-product-item__rating {
    position: relative;
    font-size: 10px;
    transform: scale(0.8); /*Cho nhỏ nhỏ hơn nữa*/
    transform-origin: right; /*Đẻ tâm thay đổi sát bên phải*/
    color: #d5d5d5;
    margin-left: auto;
    margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    position: relative;
    font-size: 12px;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    padding-bottom: 10px;
    color: #595959;
    font-size: 12px;
    font-weight: 300;
}

.home-product-item__brand,
.home-product-item__origin-name {
    position: relative;
}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor; /*Ăn theo màu chủ đạo*/
    font-weight: 500;
    padding: 2px 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

    .home-product-item__favourite span {
        color: var(--white-color);
        font-size: 12px;
    }

    .home-product-item__favourite::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        border-left: 3px solid transparent;
        border-top: 3px solid currentColor; /*Thằng này là thằng con nên cũng ăn theo*/
        filter: brightness(60%); /*Giảm độ sáng, độ sáng 40% còn lại là 60%*/
    }

    .home-product-item__favourite i {
        color: var(--white-color);
        font-size: 0.9rem;
        margin: 0 2px 0 5px;
    }

.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64,0.94);
    text-align: center;
    border-top-right-radius: 2px;
}

    .home-product-item__sale-off::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        border-width: 0 20px 6px; /*Tạo lá cờ*/
        border-style: solid;
        border-color: transparent rgba(255, 216, 64,0.94) transparent rgba(255, 216, 64,0.94);
    }

.home-product-item__sale-off-percent {
    color: #ee4d2d;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    top: 0px;
}

.home-product-item__sale-off-label {
    position: relative;
    color: var(--white-color);
    font-weight: 600;
    font-size: 12px;
    top: -2px;
}

.home-item {
    position: relative;
}

.home-product-item__find-similar-link {
    position: absolute;
    bottom: -28px;
    right: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    color: var(--white-color);
    font-size: var(--normal-font-size);
    text-align: center;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    opacity: 0;
    z-index: 1;
}

.home-item:hover .home-product-item {
    border: 1px solid var(--primary-color);
}

.home-item:hover .home-product-item__find-similar-link {
    opacity: 1;
} 

.home-product__pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
}

/* Comment */
.comment {
    padding: 20px 30px;
    background-color: var(--white-color);
    margin-bottom: 40px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: var(--normal-font-size);
}

.comment__title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1rem;
}

.comment__body {
    margin-top: 30px;
}

.comment__body-header {
    display: flex;
    column-gap: 30px;
    align-items: center;
    padding-bottom: 30px;
}

.comment__body-header-quantity {
    font-size: 20px;
    font-weight: bold;
}

.comment__body-header-sort {
    position: relative;
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
}

.comment__body-header-sort-container {
    position: absolute;
    top: 28px;
    right: 0;
    width: 160px;
    padding: 10px 0;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .06);
    animation: headerNotifyGrowth ease-in .3s;
    will-change: opacity, transform;
    transform-origin: 90% top;
    background-color: var(--white-color);
    display: none;
}

.comment__body-header-sort-item {
    padding: 10px 16px;
}

.comment__body-header-sort-item:hover {
    background-color: #f8f8f8;
}

.comment__body-header-sort::before {
    position: absolute;
    content: '';
    height: 30px;
    width: 100px;
    top: 10px;
    right: 0;
}

.comment__body-header-sort:hover .comment__body-header-sort-container {
    display: block;
}

.comment__body-header-sort-icon {
    font-size: 24px;
}

.comment__add {
    display: flex;
    column-gap: 16px;
    padding-bottom: 30px;
}

.comment__add-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    display: none;
}

.comment__add-btns.show {
    display: flex;
}

.comment__container {
    display: grid;
    background-color: var(--white-color);
    grid-template-areas: "user user more" "comment comment more" "controls ... ..." "input input input" "reply reply reply";
    gap: 1rem;
    border-radius: 2px;
    margin-bottom: 1rem;
}

.comment__user-img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.comment__user {
    grid-area: user;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.comment__username {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.comment__at {
    font-size: var(--normal-font-size);
}

.comment__more {
    position: relative;
    grid-area: more;
}

.comment__more::before {
    position: absolute;
    content: '';
    height: 30px;
    width: 50px;
    top: 10px;
    right: 0;
}

.comment__more-container {
    position: absolute;
    top: 28px;
    right: 0;
    width: 150px;
    background-color: var(--white-color);
    padding: 8px 0;
    row-gap: 16px;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .06);
    animation: headerNotifyGrowth ease-in .3s;
    will-change: opacity, transform;
    transform-origin: 90% top;
    display: none;
}

.comment__more:hover .comment__more-container {
    display: block;
}

.comment__more-item {
    display: flex;
    column-gap: 16px;
    align-items: center;
    padding: 8px 16px;
}

.comment__more-item:hover {
    background-color: #f8f8f8;
}

.comment__more-item-icon,
.comment__more-icon {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.54);
}

.comment__controls {
    grid-area: controls;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.comment__like,
.comment__dislike {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
}

.comment__dislike {
    margin-left: 1rem;
}

.comment__like-icon,
.comment__dislike-icon {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.54);
}

.comment__reply {
    margin-left: 2rem;
    cursor: pointer;
}

.comment__like-quantity,
.comment__dislike-quantity {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
}

.comment__text {
    grid-area: comment;
    font-size: var(--normal-font-size);
    line-height: 1.5;
    text-align: justify;
}

.comment__feetback {
    grid-area: input;
    display: flex;
    column-gap: 16px;
    display: none;
}

.comment__feetback.show {
    display: flex;
}

.comment__feetback-avatar,
.comment__add-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.comment__feetback-control {
    padding-right: 20px;
}

.comment__feetback-input,
.comment__add-input {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-color);
    padding: 6px 0;
    font-family: 'Roboto', sans-serif;
}

.comment__feetback-input:focus,
.comment__add-input:focus {
    border-bottom: 2px solid #888;
}

.comment__feetback-desc,
.comment__add-desc {
    flex: 1;
}

.comment__feetback-input,
.comment__add-input {
    width: 100%;
}

.comment__feetback-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    padding-right: 20px;
}

.comment__feetback-btn-felling-icon,
.comment__add-btn-felling-icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
}

.comment__feetback-btn,
.comment__add-btn {
    display: flex;
    column-gap: 16px;
}

.comment__feetback-btn-destroy,
.comment__add-btn-destroy {
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.comment__feetback-btn-reply,
.comment__add-btn-reply {
    border-radius: 2px;
    background-color: #f2f2f2;
    text-align: center;
    color: #b5b5b5;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.comment__feetback-btn-reply.active, 
.comment__add-btn-reply.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.comment__reply-quantity {
    grid-area: reply;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    color: #256eff;
    cursor: pointer;
}

.comment__reply-quantity-icon {
    font-size: 24px;
    transition: all .3s;
}

.comment__reply-quantity-icon.rotate {
    transform: rotate(180deg);
}

.comment__reply-quantity span {
    font-weight: bold;
}

.comment__replies {
    margin-left: 2.5rem;
    padding-left: 2.4rem;
    border-left: 1px solid var(--border-color);
    display: none;
}

.comment__replies.show {
    display: block;
}

.comment__reviewer-stars {
    font-size: 20px;
    color: var(--second-color);
}

.comment__rate-time {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    margin: 4px 0 14px;
}

.comment__reviewer-img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin-top: 12px;
}

.comment__reply-to {
    color: #256eff;
}

.comment__no-list {
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
}

/*Pagination*/
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item__link {
    display: block; /*Có mới đặt được chiều ngang*/
    text-decoration: none;
    font-size: 18px;
    color: #939393;
    font-weight: 300;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}

.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

    .pagination-item--active .pagination-item__link:hover {
        background-color: #ed5c3f;
    }

/* Chat */
.chat {
    position: fixed;
    bottom: 0;
    right: 8px;
    /* width: 642px; */
    height: 502px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .122);
    transition: width .25s cubic-bezier(.4, .8, .74, 1);
    transform-origin: 90% bottom;
    animation: chatGrowth ease-in .3s;
    will-change: opacity, transform;
    display: none;
    z-index: 2;
}

@keyframes chatGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    } to {
        opacity: 1;
        transform: scale(1);
    }
}

.chat__btn {
    position: fixed;
    right: 8px;
    bottom: 0;
    padding: 12px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 22px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 4px 20px 0 rgba(28, 28, 51, .16);
    cursor: pointer;
    /* display: none; */
}

.chat.hide-chat-window {
    width: 224px;
}

.chat__header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
    font-size: var(--normal-font-size);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08);
}

.chat__header-title {
    font-size: 22px;
    color: var(--primary-color);
}

.chat__header-btns {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.chat__header-btn {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
}

.chat__header-btn-arrow,
.chat__header-btn-down {
    font-size: 16px;
    color: #333;
    transition: all .4s;
}

.chat__header-btn-arrow.transform {
    transform: rotate(180deg);
}

.chat__body {
    display: flex;
    height: 460px;
}

.chat__body-left {
    width: 224px;
    display: flex;
    flex-direction: column;
}

.chat__body-right {
    border-left: 1px solid var(--border-color);
}

.chat__body-right.hide-chat-window {
    display: none;
}

.chat__body-search {
    display: flex;
    column-gap: 8px;
    height: 48px;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    font-size: var(--normal-font-size);
    width: 100%;
}

.chat__body-search-box {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: var(--normal-font-size);
    height: 100%;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0 12px;
}

.chat__body-search-icon {
    font-size: 16px;
    color: #999;
}

.chat__body-search-sub {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    color: var(--text-color);
    column-gap: 4px;
    cursor: pointer;
}

.chat__body-search-input {
    border: none;
    outline: none;
    width: 100%;
}

.chat__body-search-sub-icon {
    font-size: 20px;
    color: #999;
}

.chat__body-search-sub-list {
    position: absolute;
    width: 100px;
    list-style: none;
    display: none;
    top: 20px;
    right: 0;
    padding: 8px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0,0, 0.06);
}

.chat__body-search-sub-list.active {
    display: block;
}

.chat__body-search-sub-item {
    padding: 8px 16px 8px 20px;
    display: flex;
    cursor: pointer;
}

.chat__body-search-sub-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.chat__body-shop {
    flex: 1;
    font-size: var(--normal-font-size);
}

.chat__shop-list {
    list-style: none;
}

.chat__shop-item {
    height: 62px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;
    column-gap: 8px;
}

.chat__shop-item.active {
    background-color: rgba(0, 0, 0, .08);
}

.chat__shop-item-img,
.chat__body-shop-name-sub-header-img {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
}

.chat__shop-item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat__shop-item-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__shop-item-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chat__shop-item-time {
    font-size: 12px;
    color: #666;
}

.chat__shop-item-info-bottom {
    color: #666;
    font-weight: 400;
    line-height: 16px;
    height: 16px;
    margin-top: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.chat__body-shop-name {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: var(--normal-font-size);
    padding-left: 12px;
    cursor: pointer;
}

.chat__body-shop-name-icon {
    font-size: 20px;
    margin-left: 4px;
    color: #999;
    cursor: pointer;
    transition: all .3s;
}

.chat__body-shop-name-sub-header {
    display: flex;
    column-gap: 12px;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-color);
}

.chat__body-shop-name-sub {
    position: absolute;
    top: 30px;
    width: 215px;
    font-size: 12px;
    line-height: 16px;
    background-color: var(--white-color);
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .06);
    z-index: 1;
    display: none;
}

.chat__body-shop-name:hover .chat__body-shop-name-sub {
    display: block;
}

.chat__body-shop-name-sub-header-title {
    font-size: 16px;
}

.chat__body-shop-name-sub-list {
    list-style: none;
    margin: 4px 0;
}

.chat__body-shop-name-sub-item {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.chat__body-shop-name-sub-control {
    position: relative;
    height: 16px;
    width: 32px;
    border-radius: 8px;
    background-color: #b7b7b7;
}

.chat__body-shop-name-sub-control.active {
    background-color: #5c7;
}

.chat__body-shop-name-sub-control-circle {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 2px;
    margin-top: 2px;
    background-color: var(--white-color);
    transition: left .3s ease-in-out;
}

.chat__body-shop-name-sub-control-circle.active {
    left: 18px;
}

.chat__body-shop-name-sub-item-link {
    width: 100%;
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__body-shop-name-sub-item-icon {
    font-size: 20px;
    color: #999;
}

.chat__body-shop-name-sub-bottom {
    border-top: 1px solid var(--border-color);
}

.chat__body-shop-name-sub-bottm-link {
    display: block;
    padding: 8px 0;
    margin-top: 4px;
    text-decoration: none;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__body-message-container {
    height: calc(100% - 130px);
    background-color: #f3f3f3;
    padding: 16px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.chat__body-message-container::-webkit-scrollbar {
    display: none;
}

.chat__body-message {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--border-color);
}

.chat__body-message-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 130px;
    border-top: 1px solid var(--border-color);
}

.chat__body-message-bottom-box {
    padding: 8px;
}

.chat__body-message-bottom-input {
    resize: none;
    width: 100%;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    padding: 4px 8px 4px 2px;
    font-family: 'Roboto', sans-serif;
}

.chat__body-message-bottom-input::placeholder {
    font-family: 'Roboto', sans-serif;
}

.chat__body-message-bottom-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.chat__body-message-bottom-list {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.chat__body-message-bottom-item-icon {
    font-size: 18px;
    color: #8ea4d1;
}

.chat__message-time {
    text-align: center;
    margin: 16px 0;
}

.chat__message-time span {
    padding: 4px 8px;
    background-color: var(--white-color);
    border-radius: 6px;
    font-size: var(--normal-font-size);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.chat__message-node {
    display: flex;
    font-size: 12px;
    text-align: justify;
    padding: 8px 10px;
    background-color: #fff7e0;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.chat__message-node-icon {
    font-size: 16px;
    color: #eda500;
    margin-right: 6px;
}

.chat__message-node-link {
    text-decoration: none;
    color: #2673dd;
}

.chat__message-shop {
    width: 80%;
    position: relative;
}

.chat__message-shop-msg {
    position: relative;
    margin-top: 12px;
    border-radius: 6px;
    line-height: 20px;
    color: var(--text-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: 8px 10px 12px 10px;
    font-size: var(--normal-font-size);
    background-color: var(--white-color);
}

.chat__message-shop-msg::before {
    position: absolute;
    content: '';
    top: 0;
    left: -9px;
    border-style: solid;
    border-width: 14px 16px 6px;
    border-color: var(--white-color) transparent transparent transparent;
}

.chat__message-shop-msg-text {
    text-align: justify;
}

.chat__message-shop-msg-short {
    margin-bottom: 12px;
}

.chat__message-shop-msg-short span {
    position: relative;
    padding: 8px 10px 10px;
    font-size: var(--normal-font-size);
    background-color: var(--white-color);
    color: var(--text-color);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    line-height: 20px;
}

.chat__message-shop-msg-short span::before {
    position: absolute;
    content: '';
    top: 0;
    left: -9px;
    border-style: solid;
    border-width: 14px 16px 6px;
    border-color: var(--white-color) transparent transparent transparent;
}

.chat__message-shop-after-hour {
    font-size: 10px;
    color: #b7b7b7;
}

.chat__message-remind-product-link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    margin-top: 10px;
}

.chat__message-remind-product {
    display: flex;
    column-gap: 8px;
    background-color: #f6f6f6;
    padding: 10px 8px;
    border-radius: 4px;
}

.chat__message-remind-product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat__message-remind-product-img {
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px;
}

.chat__message-remind-product-name,
.chat__message-remind-product-numb {
    height: 20px;
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.chat__message-remind-product-status {
    color: var(--primary-color);
}

.chat__message-remind-rate-now {
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    margin: 10px auto 0;
    display: inline-block;
}

.chat__message-shop-time {
    position: absolute;
    font-size: 12px;
    color: #666;
    bottom: 10px;
    right: 10px;
}

.chat__message-shop-felling {
    font-size: 50px;
    line-height: 50px;
}

.chat__message-customer {
    width: 80%;
    margin-left: auto;
    font-size: var(--normal-font-size);
    text-align: right;
    margin-top: 12px;
    position: relative;
}

.chat__message-customer-msg span {
    position: relative;
    padding: 8px 10px 10px;
    background-color: #d7f7ef;
    color: var(--text-color);
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    text-align: justify;
    line-height: 20px;
}

.chat__message-customer-msg span::before {
    position: absolute;
    content: '';
    top: 0;
    right: -9px;
    border-style: solid;
    border-width: 14px 16px 6px;
    border-color: #d7f7ef transparent transparent transparent;
}

.chat__message-customer-time {
    position: absolute;
    font-size: 12px;
    color: #666;
    bottom: 10px;
    right: 10px;
}

.chat__message-customer-time-short,
.chat__message-shop-time-short {
    font-size: 12px;
    color: #666;
    margin-top: 4px;
}

/* Address Form */
.address-form {
    background-color: var(--white-color);
    border-radius: 2px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, .54) 0px 2px 4px;
    position: relative;
    /* overflow: hidden; */
}

.address-form__container {
    position: relative;
    font-size: var(--normal-font-size);
    height: 100%;
}

.address-form__container.hide {
    display: none;
}

.address-form__header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.address-form__title {
    font-size: 17px;
    text-transform: capitalize;
    line-height: 1.5;
}

.address-form__close-icon {
    font-size: 20px;
    color: rgba(0, 0, 0, .54);
}

.address-form__body {
    padding: 24px 24px 24px 24px;
}

.address-form__search {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.address-form__search-input {
    height: 38px;
    flex: 1;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 10px;
    font-family: var(--body-font);
}

.address-form__search-btn {
    height: 38px;
    background-color: var(--primary-color);
    border-radius: 3px;
    padding: 0 18px;
    color: var(--white-color);
    cursor: pointer;
}

.address-form__search-btn:hover {
    opacity: .9;
}

.address-form__list {
    list-style: none;
    max-height: 300px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.address-form__list::-webkit-scrollbar {
    display: none;
}

.address-form__item {
    padding: 16px 0;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.address-form__item:last-child {
    border-bottom: 1px solid transparent;
}

.address-form__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.address-form__item-header-info {
    display: flex;
    align-items: center;
}

.address-form__item-box {
    padding-right: 4px;
}

.address-form__item-input {
    margin: 0 8px auto 0;
    accent-color: var(--primary-color);
    width: 18px;
    height: 18px;
}

.address-form__item-content {
    line-height: 1.5;
    width: 100%;
}

.address-form__item-name {
    position: relative;
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    line-height: 1.5;
}

.address-form__item-name::before {
    content: '';
    position: absolute;
    border-left: 0.5px solid rgba(0, 0, 0, .26);
    height: 20px;
    right: -17px;
    top: 30%;
    transform: translateY(-30%);
    display: block;
    margin-right: 8px;
}

.address-form__item-phone {
    margin-left: 16px;
    color: rgba(0, 0, 0, .54);
}

.address-form__item-update {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(64, 128, 238);
}

.address-form__item-body {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
}

.address-form__item-sub {
    margin: 4px 0;
    border: .5px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    padding: 2px 4px;
    border-radius: 1px;
    display: none;
}

.address-form__item.default .address-form__item-sub {
    display: block;
}

.address-form__add-btn {
    min-width: 140px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 2px;
    font-size: 14px;
    color: var(--primary-color);
    font-size: 14px;
    text-transform: capitalize;
}

.address-form__add-btn:hover {
    background-color: #f7f7f7;
}

.address-form__add-btn-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    margin-right: 8px;
}

.address-form__footer {
    position: absolute;
    bottom: 0;
    padding: 0 24px;
    height: 64px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .09);
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}

.address-form__btn-destroy {
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
}

/* Address Form Add */
.address-form__update,
.address-form__new {
    position: relative;
    padding: 24px;
    font-size: var(--normal-font-size);
}

.address-form__update.hide {
    display: none;
}

.address-form__new.hide {
    display: none;
}

.address-form__update-title,
.address-form__new-title {
    font-size: 17px;
}

.address-form__update-title-sub,
.address-form__new-title-sub {
    font-size: 12px;
    margin-top: 10px;
}

.address-form__update-body,
.address-form__new-body {
    padding-top: 15px;
    height: 500px;
    overflow-y: auto;
    padding-bottom: 50px;
}

.address-form__update-body::-webkit-scrollbar,
.address-form__new-body::-webkit-scrollbar {
    display: none;
}

.address-form__update-div,
.address-form__new-div {
    margin: 6px 0 16px 0;
    position: relative;
}

.address-form__update-box,
.address-form__new-box {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia đều 2 been */
    column-gap: 1rem;
}

.address-form__update-box-left,
.address-form__update-box-right,
.address-form__new-box-left,
.address-form__new-box-right {
    position: relative;
}

.address-form__update-input,
.address-form__new-input,
.address-form__update-textarea,
.address-form__new-textarea {
    background: transparent;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    outline: none;
    font-size: 14px;
    border: 1px solid var(--border-color);
}

.address-form__new-input-fullname.err,
.address-form__new-input-phone.err,
.address-form__new-input-choose.err, 
.address-form__new-textarea-desc.err {
    border: 1px solid var(--primary-color);
}

.address-form__update-input-phone-suggest {
    position: absolute;
    margin-top: 5px;
    width: 100%;
    background-color: var(--white-color);
    padding: 8px;
    box-shadow: rgba(0, 0, 0, .54) 0px 2px 4px;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.address-form__update-input-phone-suggest button {
    border: 1px solid var(--primary-color);
    padding: 4px 10px;
    background-color: initial;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 20px;
    color: var(--primary-color);
    text-transform: capitalize;
}

.address-form__update-input-phone:focus + .address-form__update-input-phone-suggest {
    display: block;
}

.address-form__update-label,
.address-form__new-label {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--border-color);
    background-color: var(--white-color);
    transition: .3s;
    z-index: 0;
}

.address-form__new-label-fullname.err,
.address-form__new-label-phone.err,
.address-form__new-label-choose.err,
.address-form__new-label-desc.err {
    color: var(--primary-color);
}

.address-form__new-label-fullname.hide, 
.address-form__new-label-phone.hide,
.address-form__new-label-desc.hide {
    display: none;
}

.address-form__update-input:focus + .address-form__update-label,
.address-form__new-input:focus + .address-form__new-label,
.address-form__new-textarea:focus + .address-form__new-label,
.address-form__update-textarea:focus + .address-form__update-label {
    top: -.6rem;
    left: .8rem;
    font-size: 12px;
    padding: 0 3px;
    font-weight: 500;
    color: rgba(0, 0, 0, .4);
    z-index: 10; 
}

.address-form__update-input:focus {
    border: 1px solid #999;
}

.address-form__new-input:focus {
    border: 1px solid #999;
}

.address-form__new-textarea:focus {
    border: 1px solid #999;
}

.address-form__update-textarea:focus {
    border: 1px solid #999;
}

.address-form__update-textarea,
.address-form__new-textarea {
    resize: none; 
}

.address-form__update-div-icon,
.address-form__new-div-icon {
    font-size: 20px;
    position: absolute;
    right: 1rem;
    color: rgba(0, 0, 0, .4);
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}

.address-form__update-choose {
    display: none;
}

.address-form__new-choose {
    display: none;
}

.address-form__update-choose.show {
    display: block;
}

.address-form__new-choose.show {
    display: block;
}

.address-form__update-choose-detail,
.address-form__new-choose-detail {
    position: absolute;
    width: 100%;
    height: 250px;
    margin-top: 5px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, .54) 0px 2px 4px;
    z-index: 2;
}

.address-form__update-choose-detail-header,
.address-form__new-choose-detail-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.address-form__update-choose-detail-title,
.address-form__new-choose-detail-title {
    padding: 16px 24px;
    text-align: center;
    cursor: pointer;
}

.address-form__update-choose-detail-title.active,
.address-form__new-choose-detail-title.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.address-form__update-choose-detail-body,
.address-form__new-choose-detail-body {
    width: 100%;
    height: 100%;
    display: grid;
    position: absolute;
}

.address-form__update-choose-detail-city-list,
.address-form__update-choose-detail-district-list,
.address-form__update-choose-detail-street-list,
.address-form__new-choose-detail-city-list,
.address-form__new-choose-detail-district-list,
.address-form__new-choose-detail-street-list {
    position: relative;
    list-style: none;
    max-height: 170px;
    overflow-y: auto;
}

.address-form__new-choose-detail-city.hide,
.address-form__new-choose-detail-district.hide,
.address-form__new-choose-detail-street.hide,
.address-form__update-choose-detail-city.hide,
.address-form__update-choose-detail-district.hide,
.address-form__update-choose-detail-street.hide {
    display: none;
}

.address-form__update-choose-detail-city-item:hover,
.address-form__update-choose-detail-district-item:hover,
.address-form__update-choose-detail-street-item:hover,
.address-form__new-choose-detail-city-item:hover,
.address-form__add-detail-district-item:hover,
.address-form__add-detail-street-item:hover {
    background-color: #f7f7f7;
}

.address-form__update-choose-detail-city-list::-webkit-scrollbar,
.address-form__update-choose-detail-district-list::-webkit-scrollbar,
.address-form__update-choose-detail-street-list::-webkit-scrollbar,
.address-form__new-choose-detail-city-list::-webkit-scrollbar,
.address-form__new-choose-detail-district-list::-webkit-scrollbar,
.address-form__new-choose-detail-street-list::-webkit-scrollbar {
    width: 7px;
}

.address-form__update-choose-detail-city-list::-webkit-scrollbar-track,
.address-form__update-choose-detail-district-list::-webkit-scrollbar-track,
.address-form__update-choose-detail-street-list::-webkit-scrollbar-track,
.address-form__new-choose-detail-city-list::-webkit-scrollbar-track,
.address-form__new-choose-detail-district-list::-webkit-scrollbar-track,
.address-form__new-choose-detail-street-list::-webkit-scrollbar-track {
    border-radius: 2px;
    background: var(--border-color);
}

.address-form__update-choose-detail-city-list::-webkit-scrollbar-thumb,
.address-form__update-choose-detail-district-list::-webkit-scrollbar-thumb,
.address-form__update-choose-detail-street-list::-webkit-scrollbar-thumb,
.address-form__new-choose-detail-city-list::-webkit-scrollbar-thumb,
.address-form__new-choose-detail-district-list::-webkit-scrollbar-thumb,
.address-form__new-choose-detail-street-list::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #999;
}

.address-form__update-choose-detail-city-item,
.address-form__update-choose-detail-district-item,
.address-form__update-choose-detail-street-item,
.address-form__new-choose-detail-city-item,
.address-form__new-choose-detail-district-item,
.address-form__new-choose-detail-street-item {
    padding: 10px 12px;
    cursor: pointer;
}

.address-form__update-please,
.address-form__new-please {
    display: flex;
    column-gap: 8px;
    padding: 12px;
    background-color: #fff8e4;
}

.address-form__update-please-icon,
.address-form__new-please-icon {
    font-size: 16px;
    color: #f69113;
}

.address-form__update-please-desc,
.address-form__new-please-desc {
    line-height: 1.5;
}

.address-form__update-please-desc-title,
.address-form__new-please-desc-title {
    font-size: 14px;
    color: #f69113;
}

.address-form__update-please-desc-subtitle,
.address-form__new-please-desc-subtitle {
    font-size: 12px;
    color: rgba(0, 0, 0, .64);
}

.address-form__update-type,
.address-form__new-type {
    margin: 10px 0 20px 0;
}

.address-form__update-type-title,
.address-form__new-type-title {
    margin-bottom: 8px;
}

.address-form__update-type-btns,
.address-form__new-type-btns {
    display: flex;
    column-gap: 10px;
}

.address-form__update-type-btn,
.address-form__new-type-btn {
    border: 1px solid rgba(0, 0, 0, .09);
    padding: 0 12px;
    height: 40px;
    background-color: transparent;
    border-radius: 2px;
}

.address-form__update-set-default,
.address-form__new-set-default {
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, .54);
}

.address-form__update-set-default-input,
.address-form__new-set-default-input {
    height: 16px;
    width: 16px;
    color: var(--primary-color);
    background: var(--primary-color);
}

.address-form__update-footer,
.address-form__new-footer {
    bottom: 0;
    right: 24px;
    left: 24px;
    position: absolute;
    background: linear-gradient(hsla(0, 0%, 100%, .7), #fff);
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*Footer*/
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 12px;
}

.footer__heading {
    text-transform: uppercase;
    margin: 40px 0 20px 0;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}

    .footer-item__link:hover {
        color: var(--primary-color);
    }

.footer-item__icon {
    font-size: 16px;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
    height: 80px;
    padding: 4px;
    /*object-fit: contain; /* căn anhe img*/
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column; /*Giưa mã qr*/
    justify-content: center;
}

.footer__download-apps-img {
    height: 16px;
}

.footer__download-apps-link {
    color: transparent;
    text-decoration: none;
    height: 20px;
    width: 82px;
    padding: 4px;
    border-radius: 2px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.footer__bottom {
    background: #f5f5f5;
    padding: 8px 0;
}

.footer__text {
    margin: 0;
    font-size: 12px;
    color: #737373;
    text-align: center;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}