.cart .table {
    height: 500px;
    overflow: auto;
    /* min-width: 1000px; */
    border-collapse: collapse;
}

.cart .table__total-count {
    padding: 20px;
    text-align: center;
    font-size: 15px; 
}

.cart .table__total-price {
    padding: 20px;
    font-size: 15px;
}


.cart thead th {
    position: sticky;
    top: 0;
    background-color: #f6f8fc;
    color: #8493a5;
    font-size: 15px;
}

.cart th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all; /*Thuộc tính word-break sẽ làm cho những chữ trong một từ không còn là một thể thống nhất, nghĩa là có thể xuống hàng bất cứ vị trí nào trong từ*/
    text-align: center;
    font-size: 15px;
}

.cart table {
    width: 100%;
    table-layout: fixed;
}

.cart td img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #ced0d2;
}

.cart table tbody tr {
    background-color: var(--white-color);
}

.cart__product-name {
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.cart tr:hover td {
    color: #0298cf;
    cursor: pointer;
    background-color: #f6f9fc;
}

.cart button {
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
}

.cart .btn-tool {
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 6px;
    display: block;
}

.cart .btn-tool__edit {
    background-color: #0298cf;
}

.cart .btn-tool__del {
    background-color: #f80000;
}

.cart .btn-tools {
    display: flex;
    justify-content: center;
}

.cart .btn-tools i {
    color: white;
}

.cart__count-input {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.cart__count-btns {
    display: flex;
}

.cart__btn-add,
.cart__btn-sub {
    background-color: #f5f5f5;
    width: 32px;
    height: 32px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.cart__count-input {
    height: 32px;
    width: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
    outline: none;
    display: block;
}

.cart__order {
    position: sticky;
    background-color: var(--white-color);
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}

.cart__checkout {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.cart__checkout-input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 0.25rem;
}

.cart__checkout-input:checked {
    background: #fff;
}

.cart__checkout-input:checked::before {
    content: '✔️';
    display: block;
    color: #fff;
    font-size: 13px;
    transform: translate(-1.5px, -4.5px);
}

.cart__checkout-label {
    font-size: 15px;
}

.cart__order-btn {
    min-width: 142px;
    height: 36px;
    background-color: var(--primary-color);
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    color: var(--white-color);
    cursor: pointer;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

/* Form Message */
.auth-form__msg {
    font-size: var(--normal-font-size);
}

.auth-form {
    margin-inline: 1.5rem;
}

@media screen and (max-width: 768px) {
    .cart .table thead {
        display: none;
    }

    .cart table, 
    .cart table tbody, 
    .cart table tr,
    .cart table td {
        display: block;
        width: 100%;
    }

    .cart table tr {
        margin-bottom: 15px;
    }

    .cart table tbody tr td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .cart__count-btns {
        justify-content: flex-end;
    }

    .cart .btn-tools {
        justify-content: flex-end;
    }

    .cart__product-name {
        text-align: right;
    }

    .cart table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 15px;
        text-align: left;
    }

    .cart__order {
        column-gap: 0;
    }

    .cart .table__total-price {
        padding: 10px;
    }
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
