.cart {
    margin-top: 20px;
}

.cart__instruct {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background-color: #fffefb;
    border: 1px solid rgba(224, 168, 0, .4);
    border-radius: 2px;
    margin-bottom: 10px;
}

.cart__instruct-img {
    width: 20px;
    height: 20px;
}

.cart__instruct-text {
    font-size: 14px;
    margin-left: 8px;
}

.cart__header {
    display: flex;
    align-items: center;
    height: 55px;
    font-size: var(--normal-font-size);
    padding: 0 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.cart__input {
    padding: 0 20px 0 20px;
}

.cart__checkout-input,
.cart__checkout-input-all {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    background-color: var(--white-color);
    border-radius: 0.25rem;
}

.cart__checkout-input:checked,
.cart__checkout-input-all:checked {
    background: var(--white-color);
}

.cart__checkout-input:checked::before,
.cart__checkout-input-all:checked::before {
    content: '✔️';
    display: block;
    color: var(--white-color);
    font-size: 13px;
    transform: translate(-1.5px, -4.5px);
}

.cart__header-sub {
    flex: 2;
}

.cart__header-type {
    flex: 1;
}

.cart__header-quantity,
.cart__header-cost,
.cart__header-money,
.cart__header-operation {
    flex: 1;
    text-align: center;
    color: #888;
}

.cart__product-list {
    max-height: 50vh;
    overflow-y: auto;
}

.cart__product-list::-webkit-scrollbar {
    display: none;
}

.cart__body {
    position: relative;
    background-color: var(--white-color);
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin-bottom: 15px;
}

/* No Cart */
.cart__no {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    row-gap: 20px
}

.cart__no-img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: contain;
}

.cart__no-sub {
    font-size: var(--normal-font-size);
}

/* Cart Item Loading */

.cart__body-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white-color);
}

.cart__body-header-loading {
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #ededed;
    display: flex;
    align-items: center;
}

.cart__body-header-input-loading {
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background-color: #ededed;
    margin: 0 20px;
}

.cart__body-header-sub-loading {
    height: 16px;
    width: 40%;
    border-radius: 2px;
    background-color: #fafafa;
}

.cart__body-product-loading {
    display: flex;
    align-items: center;
    padding: 15px 20px 20px 20px;
    border-bottom: 1px solid #ededed;
}

.cart__body-product-img-loading {
    height: 80px;
    width: 80px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.cart__body-product-img-icon-loading {
    font-size: 30px;
    color: #ededed;
}

.cart__body-product-info-loading {
    display: flex;
    width: 100%;
}

.cart__body-product-desc-loading {
    padding: 5px 0 0 10px;
    height: 50px;
    display: grid;
    width: 100%;
}

.cart__body-product-desc-line-loading {
    height: 16px;
    width: 40%;
    background-color: #fafafa;
    border-radius: 2px;
}

.cart__body-discount-loading {
    padding: 16px 0px 16px 40px;
    border-bottom: 1px solid #ededed;
}

.cart__body-discount-line-loading {
    height: 16px;
    width: 40%;
    background-color: #fafafa;
}

.cart__body-transport-loading {
    padding: 20px 0px 20px 40px;
}

.cart__body-transport-line-loading {
    height: 16px;
    width: 40%;
    background-color: #fafafa;
}

/* End CSS Cart Item Loading */

.cart__body-header {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 20px;
    border-bottom: 1px solid var(--border-color);
}

.cart__body-header span {
    display: block;
    padding: 2px 3px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 10px;
    border-radius: 2px;
}

.cart__body-header-text {
    margin-left: 10px;
}

.cart__body-header-chat {
    text-decoration: none;
    margin-left: 5px;
}

.cart__body-header-chat-icon {
    font-size: 20px;
    color: var(--primary-color);
}

.cart__body-product {
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 0 20px 20px;
    font-size: 14px;
    border-bottom: 1px solid var(--border-color);
}

.cart__body-product-info {
    flex: 2;
    display: flex;
    align-items: center;
}

.cart__body-prduct-desc {
    padding: 5px 20px 0 10px;
    flex: 1;
}

.cart__body-product-name {
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 5px;
}

.cart__body-product-type,
.cart__body-product-cost,
.cart__body-product-quantity,
.cart__body-product-money,
.cart__body-product-operation {
    text-align: center;
    flex: 1;
}

.cart__body-product-img {
    height: 80px;
    width: 80px;
    background-position: center;
    background-size: contain;
}

.cart__body-product-voucher {
    height: 18px;
}

.cart__body-product-cost {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.cart__body-product-type {
    color: rgba(0, 0, 0, .54);
}

.cart__body-product-cost-old {
    color: rgba(0, 0, 0, .54);
    text-decoration: line-through;
}

.cart__body-product-operation .btn-tools {
    display: flex;
    justify-content: center;
}

.cart__count-btns {
    display: flex;
    justify-content: center;
}

.cart__body-discount {
    padding: 16px 0 16px 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid var(--border-color);
}

.cart__body-discount-icon {
    font-size: 16px;
    color: var(--primary-color);
}

.cart__body-discount-sub {
    margin-left: 14px;
}

.cart__body-discount-link {
    text-decoration: none;
    margin-left: 24px;
    color: #05a;
}

.cart__body-transport {
    padding: 20px 0 20px 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.cart__body-transport-img {
    height: 20px;
    width: 20px;
}

.cart__body-transport-sub {
    margin-left: 15px;
}

.cart__body-transport-more {
    text-decoration: none;
    color: #05a;
    margin-left: 6px;
}

.cart__purchase {
    margin-top: 15px;
    background-color: var(--white-color);
}

.cart__purchase-voucher {
    display: flex;
    justify-content: flex-end;
    padding: 12px 30px 12px 0;
    font-size: var(--normal-font-size);
    border-bottom: 1px dashed rgba(0, 0, 0, .09);
    column-gap: 2rem;
}

.cart__purchase-voucher-title {
    display: flex;
}

.cart__purchase-voucher-sub {
    font-size: 15px;
    margin-left: 8px;
}

.cart__purchase-voucher-link {
    text-decoration: none;
    color: #05a;
}

.cart__purchase-payment {
    display: flex;
    align-items: center;
    padding: 12px 0;
    font-size: 16px;
}

.cart__purchase-payment-desc {
    display: flex;
    flex: 1;
}

.cart__purchase-footer-delele {
    text-decoration: none;
    color: #05a;
}

.cart__purchase-payment-left {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    flex: 1;
}

.cart__purchase-payment-right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    column-gap: 16px;
    margin-right: 22px;
}

.cart__purchase-payment-total-sub span {
    margin-left: 5px;
    font-size: 24px;
    color: var(--primary-color);
}

.cart__like {
    margin: 40px 0 70px;
}

.cart__like-title {
    padding: 20px 0 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .54);
}

.cart__like-product-item-img {
    position: relative;
}

.cart__like-product-item-progress {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
}

.cart__like-product-item-spinner {
    border: 6px solid #ededed;
    border-top-color: transparent;
}

/* Old Code */

.cart .table {
    height: 500px;
    overflow: auto;
    /* min-width: 1000px; */
    border-collapse: collapse;
}

.cart .table__total-count {
    padding: 20px;
    text-align: center;
    font-size: 15px; 
}

.cart .table__total-price {
    padding: 20px;
    font-size: 15px;
}


.cart thead th {
    position: sticky;
    top: 0;
    background-color: #f6f8fc;
    color: #8493a5;
    font-size: 15px;
}

.cart th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all; /*Thuộc tính word-break sẽ làm cho những chữ trong một từ không còn là một thể thống nhất, nghĩa là có thể xuống hàng bất cứ vị trí nào trong từ*/
    text-align: center;
    font-size: 15px;
}

.cart table {
    width: 100%;
    table-layout: fixed;
}

.cart td img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #ced0d2;
}

.cart table tbody tr {
    background-color: var(--white-color);
}

.cart__product-name {
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.cart tr:hover td {
    color: #0298cf;
    cursor: pointer;
    background-color: #f6f9fc;
}

.cart button {
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
}

.cart .btn-tool {
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 6px;
    display: block;
}

.cart .btn-tool__edit {
    background-color: #0298cf;
}

.cart .btn-tool__del {
    background-color: #f80000;
}

.cart .btn-tools i {
    color: white;
}

.cart__count-input {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.cart__btn-add,
.cart__btn-sub {
    background-color: #f5f5f5;
    width: 32px;
    height: 32px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.cart__count-input {
    height: 32px;
    width: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
    outline: none;
    display: block;
}

.cart__order {
    position: sticky;
    background-color: var(--white-color);
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}

.cart__checkout {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.cart__checkout-label {
    font-size: 15px;
}

.cart__order-btn {
    min-width: 142px;
    height: 36px;
    background-color: var(--primary-color);
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0;
    color: var(--white-color);
    cursor: pointer;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}

/* Form Message */
.auth-form__msg {
    font-size: var(--normal-font-size);
}

.auth-form {
    margin-inline: 1.5rem;
}

@media screen and (max-width: 768px) {
    :root {
        --normal-font-size: 16px;
    }

    .header__cart-mobile {
        background-color: var(--white-color);
        padding-left: 12px;
    }

    .header__mobile-title {
        flex: 1;
        text-align: left;
        font-size: var(--normal-font-size);
    }

    .header__mobile-fix {
        font-size: var(--normal-font-size);
    }

    .cart__mobile {
        margin: calc(20px + var(--header-with-search-height)) 0 20px 0;
    }

    .cart__mobile-item {
        background-color: var(--white-color);
    }

    .cart__mobile-item-header {
        padding: 16px 12px;
        display: flex;
        align-items: center;
        font-size: var(--normal-font-size);
        justify-content: space-between;
    }

    .cart__mobile-item-box {
        margin-right: 12px;
        display: flex;
        align-items: center;
    }

    .cart__mobile-item-input {
        height: 18px;
        width: 18px;
        accent-color: var(--primary-color);
    }

    .cart__mobile-item-header-shop {
        flex: 1;
        display: flex;
        align-items: center;
        text-align: left;
    }

    .cart__mobile-item-header-shop-icon-store {
        font-size: 18px;
        margin-right: 8px;
    }

    .cart__mobile-item-header-shop-icon-arrow {
        font-size: 26px;
        margin-left: 10px;
    }

    .cart__mobile-item-header-fix {
        color: rgba(0, 0, 0, .54);
        cursor: pointer;
    }

    .cart__mobile-item-body {
        position: relative;
        height: 280px;
        padding: 24px 12px 12px 12px ;
        border-top: 1px solid var(--border-color);
        column-gap: 12px;
        display: flex;
    }
    
    .cart__mobile-item-body-product {
        position: absolute;
        top: 24px;
        left: 12px;
        width: 636px;
        display: flex;
        column-gap: 12px;
        transition: left .3s ease-in-out;
    }
    
    .cart__mobile-item-body-product.move {
        left: -45%;
    }

    .cart__mobile-item-body-product-similar {
        font-size: var(--normal-font-size);
        background-color: #f79113;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white-color);
        width: 100px;
        cursor: pointer;
    }

    .cart__mobile-item-body-product-delete {
        font-size: var(--normal-font-size);
        background-color: #ee4e2e;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white-color);
        padding: 12px;
        cursor: pointer;
    }

    .cart__mobile-item-body-tools {
        display: flex;
    }

    .cart__mobile-item-body-left {
        display: flex;
        height: 100px;
    }

    .cart__mobile-item-product-img {
        height: 100px;
        width: 100px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .cart__mobile-item-body-right {
        display: flex;
        flex-direction: column;
    }

    .cart__mobile-item-product-name {
        font-size: var(--normal-font-size);
        line-height: 1.8rem;
        height: 1.8rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;

    }

    .cart__mobile-item-product-type {
        font-size: var(--normal-font-size);
        margin-top: 6px;
        padding: 6px;
        background-color: #f2f2f2;
        border-radius: 2px;
        color: #565656;
        display: flex;
        align-items: center;
    }

    .cart__mobile-item-product-type-icon {
        font-size: 18px;
        color: #3a3a46;
        margin-left: 8px;
    }

    .cart__mobile-item-product-voucher {
        margin-top: 12px;
        display: flex;
        align-items: center;
    }

    .cart__mobile-item-product-voucher-img {
        height: 18px;
    }

    .cart__mobile-item-product-change-sub span {
        font-size: 12px;
        color: var(--primary-color);
        border-radius: 2px;
        margin-top: 4px;
        display: inline-block;
        border: 1px solid var(--primary-color);
        padding: 0 2px;
    }

    .cart__mobile-item-product-price {
        display: flex;
        margin-top: 12px;
        column-gap: 6px;
        font-size: var(--normal-font-size);
    }

    .cart__mobile-item-product-price-old {
        color: rgba(0, 0, 0, .54);
        text-decoration: line-through;
    }

    .cart__mobile-item-product-price-new {
        color: var(--primary-color);
    }

    .cart__mobile-item-product-quantity {
        display: flex;
        height: 32px;
        font-size: var(--normal-font-size);
        margin-top: 12px;
    }

    .cart__mobile-item-product-quantity-btn-plus,
    .cart__mobile-item-product-quantity-btn-less {
        height: 32px;
        width: 32px;
        text-align: center;
        line-height: 32px;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
    }

    .cart__mobile-item-product-quantity-btn-plus {
        border-left: 1px solid var(--border-color);
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .cart__mobile-item-product-quantity-btn-less {
        border-right: 1px solid var(--border-color);
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .cart__mobile-item-product-quantity-input {
        width: 64px;
        border: none;
        outline: none;
        text-align: center;
        border: 1px solid var(--border-color);
    }
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
