.checkout {
    margin: 12px 0;
}

.checkout__address {
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    padding: 28px 30px 24px 30px;
}

.checkout__label,
.checkout-mobile__lable {
    background-color: var(--white-color);
}

.checkout__label-box,
.checkout-mobile__lable-box {
    background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    background-position-x: -30px;
    background-size: 116px 3px;
    height: 3px;
    width: 100%;
}

.checkout__address-title {    
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.checkout__address-title-icon {
    margin-right: 9px;
}

.checkout__address-title span {
    text-transform: capitalize;
}

.checkout__address-desc {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.checkout__address-desc.hide {
    display: none;
}

.checkout__address-desc-name,
.checkout__address-desc-phone {
    font-weight: 700;
}
.checkout__address-desc-phone {
    margin-left: 8px;
}

.checkout__address-desc-direction {
    margin-left: 20px;
}

.checkout__address-desc-sub {
    margin-left: 20px;
    font-size: 10px;
    border: 0.5px solid var(--primary-color);
    color: var(--primary-color);
    padding: 2px 5px;
}

.checkout__address-desc-change {
    margin-left: 2.5rem;
    color: rgb(64, 128, 238);
    text-decoration: none;
    text-transform: capitalize;
}

.checkout__product {
    margin-top: 12px;
    padding-top: 24px;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .09);
}

.checkout__product-header {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 50px;
}

.checkout__product-header-name {
    flex: 4;
    font-size: 18px;
    text-align: left;
}

.checkout__product-header-type {
    flex: 2;
}

.checkout__product-header-cost,
.checkout__product-header-quantity {
    flex: 1;
    font-size: 14px;
    color: #bbb;
    text-align: center;
}

.checkout__product-header-money {
    text-align: right;
    flex: 1;
    font-size: 14px;
    color: #bbb;
}

.checkout__product-body-felling {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 14px;
}

.checkout__product-body-felling-btn {
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 3px 4px;
    height: 18px;
    display: flex;
    align-items: center;
    font-size: 12px;
    border-radius: 2px;
}

.checkout__product-body-felling-shop {
    margin: 0 10px;
}

.checkout__product-body-felling-chat {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #00bfa5;
    position: relative;
}

.checkout__product-body-felling-chat::before {
    content: '';
    position: absolute;
    display: block;
    border-left: .5px solid rgba(0, 0, 0, .26);
    height: 16px;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
}

.checkout__product-body-felling-chat-icon {
    font-size: 20px;
    margin-right: 4px;
}

.checkout__product-body-list {
    padding-bottom: 20px;
}

.checkout__product-body-item {
    display: flex;
    font-size: 14px;
    align-items: center;
    padding:0 30px 0px 30px;
    min-height: 60px;
}

.checkout__product-body-item-name {
    display: flex;
    align-items: center;
    flex: 4;
}

.checkout__product-body-item-desc {
    flex: 1;
    margin: 0 15px;
    font-size: 14px;
}

.checkout__product-body-item-text {
    line-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.checkout__product-body-item-desc span {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 10px;
    border-radius: 2px;
}

.checkout__product-body-item-img {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
}

.checkout__product-body-item-type {
    flex: 2;
    color: #bbb;
}

.checkout__product-body-item-cost,
.checkout__product-body-item-quantity {
    flex: 1;
    text-align: center;
}

.checkout__product-body-item-money {
    text-align: right;
    flex: 1;
}

.checkout__product-body-promotion {
    display: flex;
    align-items: center;
    font-size: 14px;
    border-top: 1px dashed rgba(0, 0, 0, .09);
}

.checkout__product-body-electronic-invoice {
    display: flex;
    padding: 20px 11px 22px 30px;
    align-items: center;
    flex: 4;
}

.checkout__product-body-invoice-sub {
    flex: 1;
}

.checkout__product-body-invoice-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    margin-left: 6px;
}

.checkout__product-body-invoice-request {
    flex: 1;
    text-align: right;
    text-decoration: none;
    color: #05a;
}

.checkout__product-body-voucher {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-left: 1px dashed rgba(0, 0, 0, .09);
}

.checkout__product-body-voucher-shop {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.checkout__product-body-voucher-shop-icon {
    font-size: 20px;
    color: var(--primary-color);
}

.checkout__product-body-voucher-other {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.checkout__product-body-voucher-other span {
    padding: 0 6px;
    display: block;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 10px;
    flex: 1;
}

.checkout__product-body-voucher-other-link {
    text-decoration: none;
    color: #05a;
}

.checkout__product-body-contact {
    background-color: #fafdff;
    display: flex;
    border-bottom: 1px dashed rgba(0, 0, 0, .09);
    font-size: var(--normal-font-size);
}

.checkout__product-body-message {
    flex: 4;
    border-top: 1px dashed rgba(0, 0, 0, .09);
}

.checkout__product-body-transport {
    flex: 6;
    border-left: 1px dashed rgba(0, 0, 0, .09);
}

.checkout__product-body-message-content {
    padding: 16px 30px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.checkout__product-body-message-input {
    height: 40px;
    padding: 4px 12px;
    width: 100%;
    flex: 1;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.checkout__product-body-message-input:focus {
    border: 1px solid #888;
}

.checkout__product-body-transport-top {
    padding: 16px 30px 16px 20px;
    display: flex;
    column-gap: 2rem;
    border-top: 1px dashed rgba(0, 0, 0, .09);
}

.checkout__product-body-transport-type {
    flex: 1;
    line-height: 1.5;
}

.checkout__product-body-transport-type-top {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
}

.checkout__product-body-transport-change {
    text-decoration: none;
    color: #05a;
}

.checkout__product-body-transport-type-bottom {
    margin-top: 5px;
    font-size: 12px;
    color: #888;
}

.checkout__product-body-transport-type-bottom-icon {
    font-size: 16px;
}

.checkout__product-body-transport-between {
    padding: 16px 0 16px 20px;
    border-top: 1px dashed rgba(0, 0, 0, .09);
    display: flex;
}

.checkout__product-body-transport-between-sub {
    color: rgba(0, 0, 0, .54);
}

.checkout__product-body-transport-between-link {
    text-decoration: none;
    color: #26aa99;
    display: flex;
    column-gap: 6px;
    margin-left: 6px;
}

.checkout__product-body-transport-between-link i {
    font-size: 16px;
}

.checkout__product-body-transport-between-link-row {
    color: #888;
}

.checkout__product-body-transport-bottom {
    display: flex;
    align-items: center;
    padding: 16px 0 16px 20px;
    border-top: 1px dashed rgba(0, 0, 0, .09);
}

.checkout__product-body-transport-bottom-sub {
    display: flex;
    align-items: center;
}

.checkout__product-body-transport-bottom-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    margin-left: 6px;
}

.checkout__product-bottom {
    padding: 20px 25px 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 3rem;
    font-size: var(--normal-font-size);
    background-color: #fafdff;
}

.checkout__product-bottom-sub {
    color: rgba(0, 0, 0, .54);
}

.checkout__product-bottom span {
    font-size: 20px;
    color: var(--primary-color);
}

.checkout__voucher {
    display: flex;
    justify-content: space-between;
    padding: 28px 30px;
    margin-top: 20px;
    background-color: var(--white-color);
}

.checkout__voucher-sub {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.checkout__voucher-sub-icon {
    font-size: 24px;
    color: var(--primary-color);
}

.checkout__voucher-sub span {
    font-size: 18px;
}

.checkout__voucher-choice {
    text-decoration: none;
    color: #05a;
    font-size: var(--normal-font-size);
}

.checkout__payment {
    margin-top: 20px;
    background-color: var(--white-color);
}

.checkout__payment-header {
    min-height: 90px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-bottom: 1px solid var(--border-color);
}

.checkout__payment-header-sub {
    font-size: 18px;
    flex: 1;
}

.checkout__payment-header-btns {
    flex: 1;
    display: flex;
    column-gap: 8px;
}

.checkout__payment-header-name {
    font-size: 14px;
}

.checkout__payment-header-change {
    font-size: 14px;
    color: #05a;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 60px;
}

.checkout__payment-header-vnpay-btn,
.checkout__payment-header-paypal-btn,
.checkout__payment-header-momo-btn,
.checkout__payment-header-cod-btn {
    padding: 4px 12px;
    font-size: 14px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    border: 1px solid var(--border-color);
}

.checkout__payment-header-vnpay-btn {
    font-weight: bold;
}

.checkout__payment-header-paypal-btn {
    font-weight: bold;
    font-style: italic;
    background-color: #f6be38;
}

.checkout__payment-header-momo-btn {
    background-color: #ad006c;
    font-weight: bold;
    color: var(--white-color);
}

.checkout__payment-header-vnpay-btn span:first-child {
    color: #ed1c24;
}

.checkout__payment-header-vnpay-btn span:last-child {
    color: #005baa;
}

.checkout__payment-header-paypal-btn span:first-child {
    color: #27364a;
}

.checkout__payment-header-paypal-btn span:last-child {
    color: #2790c3;
}

.checkout__payment-sub-logo {
    padding: 30px 0 30px 0;
    margin: 0 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, .09);
}

.checkout__payment-sub-img {
    height: 82px;
    width: 82px;
    background-position: center;
    background-size: contain;
}

.checkout__payment-sub-money {
    display: flex;
    align-items: center;
    padding: 30px;
}

.checkout__payment-sub-money-input {
    height: 18px;
    width: 18px;
}

.checkout__payment-sub-money-currenry {
    height: 45px;
    width: 45px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.checkout__payment-sub-money-currenry span {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #f89f37;
    font-size: 30px;
    display: flex;
    color: var(--white-color);
    justify-content: center;
    align-items: center;
}

.checkout__payment-sub-money-desc {
    margin-left: 20px;
    color: #9b9b9b;
    font-size: var(--normal-font-size);
}

.checkout__payment-sub-money-desc-value {
    margin-top: 8px;
}

.checkout__payment-money {
    background-color: #fffefb;
    border-top: 1px dotted var(--border-color);
    font-size: var(--normal-font-size);
}

.checkout__payment-money-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    border-bottom: 1px dotted var(--border-color);
}

.checkout__payment-money-row-left {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    display: flex;
    align-items: center;
}

.checkout__payment-money-row-left span {
    padding: 13px 10px;
}

.checkout__payment-money-row-left-icon {
    font-size: 16px;
    margin: 0 10px 0 0;
}

.checkout__payment-money-row-right {
    width: 240px;
    border-left: 1px dotted var(--border-color);
    padding: 13px 24px 13px 10px;
    font-size: 13px;
    color: rgba(0, 0, 0, .8);
}

.checkout__payment-money-row-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.checkout__payment-money-row-bottom-left span {
    padding: 23px 13px;
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
}

.checkout__payment-money-row-bottom-right {
    font-size: 24px;
    color: var(--primary-color);
    width: 240px;
    padding: 23px 24px;
    border-left: 1px dotted var(--border-color);
}

.checkout__payment-order {
    min-height: 95px;
    display: flex;
    align-items: center;
    border-top: 1px dotted var(--border-color);
    padding: 0 30px;
}

.checkout__payment-order-sub {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    padding: 0 15px;
}

.checkout__payment-order-sub-link {
    text-decoration: none;
    color: #05a;
}

.checkout__payment-order-btn {
    flex: 1;
    text-align: right;
}

/* Transport Modal */
.transport-form {
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .14);
    width: 720px;
    color: var(--text-color);
}

.transport-form__header-title {
    font-size: 20px;
    padding: 30px 30px 0;
}

.transport-form__body {
    padding: 12px 30px 0;
}

.transport-form__body-title {
    color: #929292;
}

.transport-form__header-sub {
    font-size: 12px;
    margin-top: 3px;
    color: #bbb;
}

.transport-form__body-list {
    margin-top: 12px;
}

.transport-form__body-item {
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    box-shadow: inset 4px 0 0 rgba(0, 0, 0, .09);
    margin-bottom: 4px;
} 

.transport-form__body-item.active {
    box-shadow: inset 4px 0 0 var(--primary-color);
}

.transport-form__body-item-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 8px;
}

.transport-form__body-item-name {
    display: flex;
    column-gap: 24px;
}

.transport-form__body-item-price {
    color: var(--primary-color);
}

.transport-form__body-item-time-sub {
    color: #26aa99;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.transport-form__body-item-time-sub-icon {
    font-size: var(--normal-font-size);
}

.transport-form__body-item-time-sub span {
    margin: 0 4px 0 2px;
}

.transport-form__body-item-time-sub-icon-ques {
    font-size: var(--normal-font-size);
    color: #929292;
}

.transport-form__body-item-time-text {
    margin-top: 8px;
    font-size: 12px;
    color: #929292;
}

.transport-form__body-item-right {
    font-size: 20px;
    color: var(--primary-color);
    display: none;
}

.transport-form__body-item.active .transport-form__body-item-right {
    display: block;
}

.transport-form__footer {
    border-top: 1px dashed rgba(0, 0, 0, .09);
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
    padding: 20px 0;
    margin: 0 30px;
}

/* Address Modal */
.address-form {
    background-color: var(--white-color);
    border-radius: 2px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, .54) 0px 2px 4px;
    position: relative;
    /* overflow: hidden; */
}

.address-form__container {
    position: relative;
    font-size: var(--normal-font-size);
    height: 100%;
}

.address-form__container.hide {
    display: none;
}

.address-form__title {
    padding: 16px 24px;
    height: 56px;
    font-size: 17px;
    text-transform: capitalize;
    line-height: 1.5;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.address-form__body {
    padding: 0 24px 88px 24px;
}

.address-form__list {
    list-style: none;
    height: 300px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.address-form__list::-webkit-scrollbar {
    display: none;
}

.address-form__item {
    padding: 16px 0;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.address-form__item:last-child {
    border-bottom: 1px solid transparent;
}

.address-form__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.address-form__item-header-info {
    display: flex;
    align-items: center;
}

.address-form__item-box {
    padding-right: 4px;
}

.address-form__item-input {
    margin: 0 8px auto 0;
    accent-color: var(--primary-color);
    width: 18px;
    height: 18px;
}

.address-form__item-content {
    line-height: 1.5;
    width: 100%;
}

.address-form__item-name {
    position: relative;
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    line-height: 1.5;
}

.address-form__item-name::before {
    content: '';
    position: absolute;
    border-left: 0.5px solid rgba(0, 0, 0, .26);
    height: 20px;
    right: -17px;
    top: 30%;
    transform: translateY(-30%);
    display: block;
    margin-right: 8px;
}

.address-form__item-phone {
    margin-left: 16px;
    color: rgba(0, 0, 0, .54);
}

.address-form__item-update {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(64, 128, 238);
}

.address-form__item-body {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
}

.address-form__item-sub {
    margin: 4px 0;
    border: .5px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    padding: 2px 4px;
    border-radius: 1px;
    display: none;
}

.address-form__item.default .address-form__item-sub {
    display: block;
}

.address-form__add-btn {
    min-width: 140px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 2px;
    font-size: 14px;
    color: var(--primary-color);
    font-size: 14px;
    text-transform: capitalize;
}

.address-form__add-btn:hover {
    background-color: #f7f7f7;
}

.address-form__add-btn-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    margin-right: 8px;
}

.address-form__footer {
    position: absolute;
    bottom: 0;
    padding: 0 24px;
    height: 64px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .09);
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}

.address-form__btn-destroy {
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
}

@media screen and (max-width: 739px) {
    .hide-on-checkout {
        display: none;
    }

    .header-with-search {
        position: relative;
    }

    .checkout-mobile {
        font-size: var(--normal-font-size);
        color: var(--text-color);
    }

    .checkout-mobile__address {
        background-color: var(--white-color);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
        padding: 12px 16px;
        display: flex;
        column-gap: 10px;
        font-size: var(--normal-font-size);
    }

    .checkout-mobile__address-destination-icon {
        font-size: 20px;
        color: var(--primary-color);
    }

    .checkout-mobile__address-desc-title {
        font-size: 16px;
        margin: 4px 0 8px 0;
    }

    .checkout-mobile__address-desc-divide {
        color: var(--border-color);
        margin: 0 8px;
    }

    .checkout-mobile__address-desc-direction {
        margin-top: 8px;
        line-height: 20px;
    }

    .checkout-mobile__address-more-icon {
        font-size: 20px;
        color: rgba(0, 0, 0, .54);
    }

    .checkout-mobile__address-more {
        display: flex;
        align-items: center;
    }

    .checkout-mobile__list {
        margin-top: 10px;
    }

    .checkout-mobile__item {
        background-color: var(--white-color);
        margin-bottom: 10px;
    }

    .checkout-mobile__item-header {
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding: 12px 16px;
    }

    .checkout-mobile__item-header-favorite {
        font-size: 13px;
        background-color: var(--primary-color);
        padding: 2px;
        border-radius: 2px;
        color: var(--white-color);
    }

    .checkout-mobile__item-product {
        display: flex;
        column-gap: 12px;
        padding: 12px 16px;
    }

    .checkout-mobile__item-product-thumb {
        flex: 2;
    }

    .checkout-mobile__item-product-img {
        width: 100%;
    }

    .checkout-mobile__item-product-info {
        flex: 8;
        color: #a2a2a2;
    }

    .checkout-mobile__item-product-info-name {
        height: 20px;
        line-height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .checkout-mobile__item-product-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }

    .checkout-mobile__item-product-bottom-change span {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        font-size: 10px;
        border-radius: 2px;
    }

    .checkout-mobile__item-product-numb {
        text-align: right;
    }

    .checkout-mobile__item-product-numb-qunatity {
        margin-bottom: 8px;
    }

    .checkout-mobile__item-product-voucher {
        padding: 12px 16px;
        display: flex;
        justify-content: space-between;
    }

    .checkout-mobile__item-product-voucher-left,
    .checkout-mobile__item-product-voucher-right {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .checkout-mobile__item-product-voucher-icon-sub {
        font-size: 16px;
        color: var(--primary-color);
    }

    .checkout-mobile__item-product-voucher-sub {
        font-size: 16px;
    }

    .checkout-mobile__item-product-voucher-choose {
        font-size: 16px;
        color: #a2a2a2;
    }

    .checkout-mobile__item-product-voucher-icon-choose {
        font-size: 20px;
        color: rgba(0, 0, 0, .54);
    }

    .checkout-mobile__item-product-transport {
        background-color: #fafdff;
        border-top: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    .checkout-mobile__item-product-transport-header {
        padding: 20px 16px 0 16px;
        font-size: 16px;
    }

    .checkout-mobile__item-product-transport-type {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
    }

    .checkout-mobile__item-product-transport-type-sub {
        font-weight: bold;
    }

    .checkout-mobile__item-product-transport-time {
        color: #a2a2a2;
        padding-bottom: 12px;
        margin: 0 16px;
        border-bottom: 1px solid var(--border-color);
    }

    .checkout-mobile__item-product-transport-express {
        display: flex;
        align-items: center;
        color: #a2a2a2;
        padding: 0 16px 12px 16px;
        border-bottom: 1px solid var(--border-color);
    }

    .checkout-mobile__item-product-transport-express-link {
        color: #26aa99;
        display: flex;
        align-items: center;
        margin-left: 4px;
        column-gap: 4px;
        flex: 1;
    }

    .checkout-mobile__item-product-transport-express-icon-more {
        font-size: 20px;
        color: rgba(0, 0, 0, .54);
        margin-left: auto;
    }

    .checkout-mobile__item-product-transport-inspection {
        padding: 0 16px 12px 16px;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        column-gap: 8px;
    }

    .checkout-mobile__item-product-transport-inspection-icon {
        font-size: 16px;
        color: rgba(0, 0, 0, .54);
    }

    .checkout-mobile__item-product-message {
        display: flex;
        justify-content: space-between;
        padding: 16px 16px;
        border-bottom: 1px solid var(--border-color);
    }

    .checkout-mobile__item-product-message-input {
        text-align: right;
        font-family: 'Roboto', sans-serif;
        color: var(--text-color);
    }

    .checkout-mobile__item-product-into-money {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        font-weight: bold;
        font-size: 16px;
    }

    .checkout-mobile__item-product-into-money-price {
        color: var(--primary-color);
    }

    .checkout-mobile__voucher {
        display: flex;
        justify-content: space-between;
        padding: 16px;
        background-color: var(--white-color);
        margin-bottom: 10px;
    }

    .checkout-mobile__voucher-col {
        display: flex;
        column-gap: 10px;
        align-items: center;
    }

    .checkout-mobile__voucher-sub-icon {
        font-size: 16px;
        color: var(--primary-color);
    }

    .checkout-mobile__voucher-choose {
        color: #a2a2a2;
    }

    .checkout-mobile__voucher-choose-icon {
        font-size: 20px;
        color: rgba(0, 0, 0, .54);
    }

    .checkout-mobile__type {
        background-color: var(--white-color);
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        padding: 16px;
        margin-bottom: 10px;
    }

    .checkout-mobile__type-header {
        display: flex;
        justify-content: space-between;
    }

    .checkout-mobile__type-header-col {
        display: flex;
        column-gap: 10px;
        align-items: center;
    }

    .checkout-mobile__type-header-sub-icon {
        font-size: 20px;
        color: var(--primary-color);
    }

    .checkout-mobile__type-header-icon {
        font-size: 20px;
        color: rgba(0, 0, 0, .54);
    }

    .checkout-mobile__type-pay {
        padding: 10px;
        background-color: #fff8e4;
        border: 1px solid #f69113;
        color: #f69113;
        border-radius: 2px;
        font-size: 12px;
    }

    .checkout-mobile__detail {
        background-color: var(--white-color);
        margin-bottom: 10px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .checkout-mobile__detail-header {
        display: flex;
        column-gap: 10px;
        align-items: center;
        font-size: 16px;
    }

    .checkout-mobile__detail-header-icon {
        font-size: 20px;
        color: #f69113;
    }

    .checkout-mobile__detail-body {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .checkout-mobile__detail-total-price-product,
    .checkout-mobile__detail-transport-price {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #a2a2a2;
    }

    .checkout-mobile__detail-bottom {
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }

    .checkout-mobile__detail-bottom-price {
        color: var(--primary-color);
    }

    .checkout-mobile__rules {
        background-color: var(--white-color);
        padding: 16px;
        display: flex;
        column-gap: 10px;
        margin-bottom: 10px;
    }

    .checkout-mobile__rules-icon {
        font-size: 20px;
        color: #f69113;
    }

    .checkout-mobile__rules-sub {
        line-height: 20px;
    }

    .checkout-mobile__rules-link {
        color: #05a;
    }

    .checkout-mobile__footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: var(--white-color);
        column-gap: 10px;
    }

    .checkout-mobile__footer-into-money-sub {
        font-size: 16px;
        color: #a2a2a2;
        margin-bottom: 8px;
    }

    .checkout-mobile__footer-into-money-numb {
        font-size: 20px;
        color: var(--primary-color);
    }

    .checkout-mobile__footer-btn {
        background-color: var(--primary-color);
        padding: 0 20px;
        height: 100%;
        line-height: 60px;
        color: var(--white-color);
        font-size: 16px;
        cursor: pointer;
    }
}