.checkout {
    margin: 12px 0;
}

.checkout__address {
    background-color: var(--white-color);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    padding: 28px 30px 24px 30px;
}

.checkout__label {
    background-color: var(--white-color);
}

.checkout__label-box {
    background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    background-position-x: -30px;
    background-size: 116px 3px;
    height: 3px;
    width: 100%;
}

.checkout__address-title {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.checkout__address-title-icon {
    margin-right: 9px;
}

.checkout__address-title span {
    text-transform: capitalize;
}

.checkout__address-desc {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.checkout__address-desc-name,
.checkout__address-desc-phone {
    font-weight: 700;
}
.checkout__address-desc-phone {
    margin-left: 8px;
}

.checkout__address-desc-direction {
    margin-left: 20px;
}

.checkout__address-desc-sub {
    margin-left: 20px;
    font-size: 10px;
    border: 0.5px solid var(--primary-color);
    color: var(--primary-color);
    padding: 2px 5px;
}

.checkout__address-desc-change {
    margin-left: 2.5rem;
    color: rgb(64, 128, 238);
    text-decoration: none;
    text-transform: capitalize;
}

/* Address Modal */
.address-form {
    background-color: var(--white-color);
    border-radius: 2px;
    height: 600px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, .54) 0px 2px 4px;
}

.address-form__container {
    position: relative;
    font-size: var(--normal-font-size);
    display: none;
}

.address-form__title {
    padding: 16px 24px;
    height: 56px;
    font-size: 17px;
    text-transform: capitalize;
    line-height: 1.5;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.address-form__body {
    padding: 0 24px 88px 24px;
}

.address-form__list {
    list-style: none;
}

.address-form__item {
    padding: 16px 0;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.address-form__item:last-child {
    border-bottom: 1px solid transparent;
}

.address-form__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.address-form__item-header-info {
    display: flex;
    align-items: center;
}

.address-form__item-box {
    padding-right: 4px;
}

.address-form__item-input {
    margin: 0 8px auto 0;
    accent-color: var(--primary-color);
    width: 18px;
    height: 18px;
}

.address-form__item-content {
    line-height: 1.5;
    width: 100%;
}

.address-form__item-name {
    position: relative;
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    line-height: 1.5;
}

.address-form__item-name::before {
    content: '';
    position: absolute;
    border-left: 0.5px solid rgba(0, 0, 0, .26);
    height: 20px;
    right: -17px;
    top: 30%;
    transform: translateY(-30%);
    display: block;
    margin-right: 8px;
}

.address-form__item-phone {
    margin-left: 16px;
    color: rgba(0, 0, 0, .54);
}

.address-form__item-update {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(64, 128, 238);
}

.address-form__item-body {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
}

.address-form__item-sub {
    margin: 4px 0;
    border: .5px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    padding: 2px 4px;
    border-radius: 1px;
}

.address-form__add-btn {
    min-width: 140px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    font-size: 14px;
    color: var(--primary-color);
    font-size: 14px;
    text-transform: capitalize;
}

.address-form__add-btn-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    margin-right: 8px;
}

.address-form__footer {
    position: absolute;
    bottom: 0;
    padding: 0 24px;
    height: 64px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .09);
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}

.address-form__btn-destroy {
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
}

/* Address Form Add */
.address-form__add {
    position: relative;
    padding: 24px;
    font-size: var(--normal-font-size);
}

.address-form__add-title {
    font-size: 17px;
}

.address-form__add-body {
    padding-top: 15px;
}

.address-form__add-div {
    margin: 6px 0 16px 0;
    position: relative;
}

.address-form__add-box {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia đều 2 been */
    column-gap: 1rem;
}

.address-form__add-box-left,
.address-form__add-box-right {
    position: relative;
}

.address-form__add-input,
.address-form__add-textarea {
    background: transparent;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    outline: none;
    font-size: 14px;
    border: 1px solid var(--border-color);
}

.address-form__add-input-phone-suggest {
    position: absolute;
    margin-top: 5px;
    width: 100%;
    background-color: var(--white-color);
    padding: 8px;
    box-shadow: rgba(0, 0, 0, .54) 0px 2px 4px;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.address-form__add-input-phone-suggest button {
    border: 1px solid var(--primary-color);
    padding: 4px 10px;
    background-color: initial;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 20px;
    color: var(--primary-color);
    text-transform: capitalize;
}

.address-form__add-input:focus + .address-form__add-input-phone-suggest {
    display: block;
}

.address-form__add-label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: var(--border-color);
    background-color: var(--white-color);
    transition: .3s;
    z-index: 0;
}

.address-form__add-input:focus + .address-form__add-label,
.address-form__add-textarea:focus + .address-form__add-label {
    top: -.6rem;
    left: .8rem;
    font-size: 12px;
    padding: 0 3px;
    font-weight: 500;
    color: rgba(0, 0, 0, .4);
    z-index: 10; 
}

.address-form__add-input:focus {
    border: 1px solid #999;
}

.address-form__add-textarea {
    resize: none; 
}

.address-form__add-div-icon {
    font-size: 20px;
    position: absolute;
    right: 1rem;
    color: rgba(0, 0, 0, .4);
    top: 1rem;
    z-index: 1;
    cursor: pointer;
}

.address-form__add-detail {
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, .54) 0px 2px 4px;
    overflow: hidden;
    z-index: 2;
}

.address-form__add-detail-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    border-bottom: 1px solid var(--border-color);
}

.address-form__add-detail-title {
    padding: 16px 24px;
    cursor: pointer;

}

.address-form__add-detail-title--active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.address-form__add-detail-body {
    padding: 12px;
    width: 100%;
    display: grid;
    position: absolute;
}

.address-form__add-detail-city-list,
.address-form__add-detail-district-list,
.address-form__add-detail-street-list {
    position: relative;
    list-style: none;
    max-height: 170px;
    overflow-y: auto;
}

.address-form__add-detail-city {
    padding: 12px;
    position: absolute;
    width: 100%;
}

.address-form__add-detail-district {
    position: absolute;
    top: 12px;
    right: -100%;
    width: 100%;
}

.address-form__add-detail-city-list::-webkit-scrollbar,
.address-form__add-detail-district-list::-webkit-scrollbar,
.address-form__add-detail-street-list::-webkit-scrollbar {
    width: 7px;
}

.address-form__add-detail-city-list::-webkit-scrollbar-track,
.address-form__add-detail-district-list::-webkit-scrollbar-track,
.address-form__add-detail-street-list::-webkit-scrollbar-track {
    border-radius: 2px;
    background: var(--border-color);
}

.address-form__add-detail-city-list::-webkit-scrollbar-thumb,
.address-form__add-detail-district-list::-webkit-scrollbar-thumb,
.address-form__add-detail-street-list::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #999;
}



.address-form__add-detail-street {
    position: absolute;
    top: 12px;
    right: -200%;
    width: 100%;
}

.address-form__add-detail-city-item,
.address-form__add-detail-district-item,
.address-form__add-detail-street-item {
    margin-bottom: 2rem;
}