.order-code {
    background-color: var(--white-color);
    width: 530px;
    /* height: 700px; */
    margin: 50px auto 0;
    border-radius: 4px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .06);
    padding: 10px;
}

.order-code__container {
    border: 2px solid var(--text-color);
    height: 100%;
}

.order-code__header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 4px;
}

.order-code__header-logo {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.order-code__header-logo-shopeeme-img,
.order-code__header-logo-spx-img {
    height: 46px;
}

.order-code__header-id {
    display: flex;
    flex-direction: column;
    row-gap: 8px;    
}

.order-code__header-id-barcode-img {
    display: flex;
    justify-content: space-between;
}

.order-code__header-id-barcode-img {
    height: 46px;
    margin: 0 auto;
}

.order-code__address {
    display: flex;
    padding: 0px 4px 0;
    border-top: 2px dashed var(--text-color);
    display: flex;
    line-height: 20px;
}

.order-code__address-from-title,
.order-code__address-to-title {
    font-weight: bold;
}

.order-code__address-from,
.order-code__address-to {
    flex: 1;
    padding-top: 4px;
}

.order-code__address-to {
    border-left: 2px dashed var(--text-color);
    padding-left: 4px;
}

.order-code__area {
    display: flex;
    border-top: 2px dashed var(--text-color);
}

.order-code__area-1 {
    flex: 1;
}

.order-code__area-2 {
    flex: 6;
    border-left: 2px dashed var(--text-color);
    padding: 8px 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.order-code__area-3 {
    flex: 3;
    border-left: 2px dashed var(--text-color);
    text-align: center;
    padding: 8px 0;
    font-size: 20px;
    font-weight: bold;
}

.order-code__body {
    display: flex;
    border-top: 2px dashed var(--text-color);
}

.order-code__body-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-code__body-product-title {
    margin: 4px 0 0 4px;
    font-weight: bold;
}

.order-code__body-product-list {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding: 0 4px;
}

.order-code__body-product-bottom {
    padding: 4px;
    font-size: 12px;
    text-align: justify;
}

.order-code__body-right {
    width: 140px;
    border-left: 2px dashed var(--text-color);
}

.order-code__body-qr-img {
    width: 100%;
}

.order-code__body-id {
    border-top: 2px dashed var(--text-color);
    text-align: center;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: bold;
}

.order-code__body-date {
    border-top: 2px dashed var(--text-color);
}

.order-code__body-date-title {
    margin: 4px 0 0 4px;
}

.order-code__body-date-time {
    text-align: center;
    padding: 8px 0 0;
    font-size: 16px;
    font-weight: bold;
}

.order-code__body-date-hour {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 8px;
}

.order-code__footer {
    padding: 4px;
    border-top: 2px dashed var(--text-color);
}

.order-code__footer-top {
    display: flex;
}

.order-code__footer-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.order-code__footer-money-numb {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.order-code__footer-right {
    flex: 1;
}

.order-code__footer-mass {
    text-align: center;
}

.order-code__footer-signature {
    margin: 4px 6px;
    border: 1px solid rgba(0, 0, 0, .54);
    padding-bottom: 30px;
    text-align: center;
}

.order-code__footer-signature-title {
    font-weight: bold;
}

.order-code__footer-bottom {
    font-size: 12px;
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.order-code__footer-bottom-title {
    font-weight: bold;
    flex: 6;
}

.order-code__footer-bottom-title span {
    font-size: 16px;
}

.order-code__footer-bottom-sub {
    flex: 4;
}

.order-code__pdf {
    position: fixed;
    right: 8px;
    bottom: 0;
    padding: 12px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 22px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 4px 20px 0 rgba(28, 28, 51, .16);
    cursor: pointer;
}

