.order {
    margin: 20px 4px;
}

.order__header {
    padding: 10px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--normal-font-size);
}

.order__header-left {
    display: flex;
    align-items: center;
}

.order__header-left-icon {
    font-size: 3rem;
    margin-right: 4px;
    color: var(--primary-color);
}

.order__header-right {
    display: flex;
    column-gap: 1.6rem;
}

.order__header-right-icon {
    font-size: 2.2rem;
    color: var(--primary-color);
}

.order__time {
    padding: 14px 10px;
    margin: 12px 0;
    background-color: var(--white-color);
    display: flex;
    column-gap: 1rem;
    font-size: var(--normal-font-size);
    align-items: center;
}

.order__time-img {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    border: 1px solid var(--border-color);
}

.order__time-info-date span {
    color: var(--primary-color);
}

.order__time-transport {
    font-size: 12px;
    opacity: .3;
}

.order__time-info {
    display: grid;
    row-gap: 1rem;
}

.order__body {
    background-color: var(--white-color);
    font-size: 14px;
}

.order__body-header {
    display: flex;
    justify-content: space-between;
    padding: 14px 10px;
    border-bottom: 1px solid var(--border-color);
}

.order__body-header-code {
    color: #737373;
}

.order__body-header-code span {
    margin-left: 4px;
    text-transform: uppercase;
    color: var(--primary-color);
    opacity: 1;
}

.order__body-main {
    padding: 14px 10px;
}

.order__body-list {
    list-style: none;
}

.order__body-item {
    display: grid;
    grid-template-areas: "time line desc";
    grid-auto-columns: 100px 40px 260px;
    line-height: 1.5;
}

.order__body-item-time {
    grid-area: time;
}

.order__body-line {
    grid-area: line;
    position: relative;
}

.order__item-desc-status {
    font-weight: bold;
}

.order__item-desc-link {
    text-decoration: none;
    color: #05a;
}

.order__item-desc {
    grid-area: desc;
    line-height: 1.5;
    color: #26aa99;
}

.order__item-rounder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    background-color: #26aa99;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

.order__body-item--blur {
    color: rgba(0, 0, 0, .54);
}

.order__item-rounder i {
    color: var(--white-color);
}

.order__item-line {
    display: block;
    width: 1px;
    position: absolute;
    height: 100%;
    background-color: var(--border-color);
    transform: translateX(12px);
}

.order__body-item--blur .order__item-rounder {
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
}

.order__body-item--blur .order__item-rounder i {
    color: var(--border-color);
}

.order__body-item--blur .order__item-desc {
    color: rgba(0, 0, 0, .54);;
}

.order__body-item--stage .order__item-rounder {
    height: 11px;
    width: 11px;
    background-color: #d8d8d8;
    transform: translate(7px);
}

/* Profile Left */
.profile__left {
    margin: 20px 0;
    display: grid;
    row-gap: 1rem;
}

.profile__left-header {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
    gap: 1rem;
    font-size: var(--normal-font-size);
    line-height: 1.5;
}

.profile__left-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile__left-account-name {
    font-size: var(--normal-font-size);
    font-weight: bold;
}

.profile__left-account-edit {
    color: #999;
}

.profile__left-account-edit i {
    padding-right: 4px;
}

.profile__left-body {
    padding-top: 10px;
    font-size: var(--normal-font-size);
}

.profile__left-list {
    list-style: none;
}

.profile__left-item {
    margin-bottom: 1rem;
}

.profile__left-link {
    text-decoration: none;
    color: var(--text-color);
}

.profile__left-link i {
    font-size: 2rem;
    padding-right: 10px;
    color: #7f9fd3;
}

/* Hide Large Device */
.large-device {
    display: none;
}

/* Large Devices */
@media screen and (min-width: 1024px) {
    .mobile {
        display: none;
    }

    .large-device {
        display: block;
    }

    .order__header {
        padding: 20px 24px;
    }

    .order__body-header-back {
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, .54);
    }

    .order__body-header-back-icon {
        font-size: 24px;
        margin-right: 5px;
    }

    .order__body-header-text {
        display: flex;
        column-gap: 1rem;
        line-height: 16px;
    }

    .order__body-header-code {
        color: var(--normal-font-size);
    }

    .order__body-header-status {
        color: var(--primary-color);
    }

    .order__body-header {
        padding: 20px 24px;
        align-items: center;
        background-color: var(--white-color);
        font-size: 14px;
        border-bottom: none;
    }

    .order__prevent {
        position: relative;
        height: 0;
        width: 100%;
        border-bottom: 1px dotted rgba(0, 0, 0, .09);
    }
    
    
    .order__prevent-box {
        background-color: #f5f5f5;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        position: absolute;
        box-sizing: border-box;
        top: 0;
        z-index: 1;
    }
    
    .order__prevent-box-left {
        transform: translate(-50%, -50%);
        left: 0;
    }
    
    .order__prevent-box-right {
        transform: translate(50%, -50%);
        right: 0;
    }

    .order__stage {
        padding: 40px 24px;
        position: relative;
        background-color: var(--white-color);
        font-size: var(--normal-font-size);
    }
    
    .order__stage-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }

    .order__stage-item {
        width: 100%;
        text-align: center;
        display: grid;
    }

    .order__stage-desc-time {
        font-size: 12px;
        color: rgba(0, 0, 0, .26);
    }

    .order__stage-line {
        height: 4px;
        width: 100%;
        position: absolute;
        top: 68px;
    }
    
    .order__stage-line-background, .order__stage-line-foreground {
        width: calc(100% - 140px);
        position: absolute;
        height: 100%;
        box-sizing: border-box;
    }

    .order__stage-line-background {
        background: rgb(224, 224, 224);
    }

    .order__stage-line-foreground {
        background-color: #2dc258;
    }

    .order__stage-line-background {
        margin: 0 70px;
    }

    .order__stage-progress {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
    }

    .order__stage-rounder {
        height: 60px;
        width: 60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 4px solid #2dc258;
        color: #2dc258;
        z-index: 1;
    }

    .order__stage-progress::before {
        content: '';
        position: absolute;
        height: 4px;
        width: 80%;
        background-color: #2dc258;
        right: 60%;
        z-index: 0;
    }

    .order__stage-rounder-icon {
        font-size: 3.5rem;
        margin: 0 60px;
    }

    .order__stage-desc {
        margin-top: 1.25rem;
        text-align: center;
    }

    .order__repurchase {
        padding: 12px 24px;
        background-color: #fffcf5;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .order__repurchase-thank {
        font-size: 12px;
        color: rgba(0, 0, 0, .54);
    }

    .order__contact {
        padding: 12px 24px;
        background-color: #fffcf5;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .order__contact-btn {
        border: 1px solid var(--border-color);
    }

    .order__label {
        padding: 3px 0;
    }

    .order__label-box {
        background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
        background-position-x: -30px;
        background-size: 116px 3px;
        height: 3px;
        width: 100%;
    }

    .order__body {
        padding: 20px 24px;
    }

    .order__body-header {
        padding: 0 0 12px;
    }

    .order__body-address-title {
        font-size: 20px;
        text-transform: capitalize;
    }

    .order__body-address-transport {
        font-size: 12px;
        color: rgba(0, 0, 0, .54);
    }

    .order__body-main {
        padding: 0;
        display: flex;
    }

    .order__body-address {
        padding: 10px 24px 0 0;
    }

    .order__body-list {
        padding: 4px 0 0 12px;
        border-left: 1px solid var(--border-color);
    }

    .order__body-address {
        line-height: 22px;
        max-width: 100%;
    }

    .order__body-customer-name {
        margin: 0 0 7px;
    }

    .order__body-customer-phone, .order__body-customer-info {
        font-size: 12px;
        color: rgba(0, 0, 0, .54);
    }

    .order__body-item {
        grid-auto-columns: 100px 40px 300px;
    }

    .order__product {
        padding: 12px 24px;
        background-color: #fafafa;
    }

    .order__product-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--border-color);
    }

    .order__header-btns {
        display: flex;
        column-gap: 8px;
        font-size: 12px;
    }
    
    .order__header-btn {
        padding: 4px 8px;
        border: 1px solid transparent;
        color: var(--white-color);
        background-color: var(--primary-color);
        border-radius: 2px;
    }
    
    .order__header-btn span {
        margin-left: 4px;
    }
    
    .order__header-btn-link {
        display: block;
        padding: 4px 8px;
        border: 1px solid var(--border-color);
        border-radius: 2px;
    }
    
    .order__header-btn-link span {
        margin-left: 4px;
    }

    .order__header-update {
        position: relative;
    }

    .order__header-update-icon {
        font-size: 16px;
        color: rgba(0, 0, 0, .54);
    }

    .order__header-update-text {
        position: absolute;
        margin-top: 10px;
        width: 150px;
        font-size: 13px;
        line-height: 1.5;
        padding: 8px 16px;
        background-color: var(--white-color);
        transform-origin: 90% top;
        animation: updateLastedGrowth ease-in .3s;
        will-change: opacity, transform;
        border-radius: 2px;
        right: -18px;
        box-shadow: 0 2px 10px #ccc;
        display: none;
        z-index: 1;
    }

    .order__header-update-text::before {
        content: '';
        position: absolute;
        right: 6px;
        top: -30px;
        border-width: 20px 20px;
        border-style: solid;
        border-color: transparent transparent var(--white-color) transparent;
    }

    .order__header-update-text::after {
        content: '';
        position: absolute;
        width: 40%;
        height: 30px;
        top: -16px;
        right: 0;
    }

    .order__header-update:hover .order__header-update-text {
        display: block;
    }

    @keyframes updateLastedGrowth {
        from {
            opacity: 0;
            transform: scale(0);
        } to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .order__product-container {
        padding-top: 12px;
    }

    .order__product-list {
        list-style: none;
    }

    .order__product-item {
        margin-bottom: 6px;
    }

    .order__product-item-link {
        display: flex;
    }

    .order__product-item-img {
        height: 80px;
        width: 80px;
        background-position: center;
        background-size: contain;
        border: 1px solid var(--border-color);
    }

    .order__product-item-title {
        line-height: 22px;
        overflow: hidden;
        font-size: 15px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .order__product-item-info-right {
        display: flex;
        justify-content: flex-end;
        column-gap: 4px;
    }

    .order__product-item-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .order__product-item-info {
        padding-left: 12px;
        font-size: var(--normal-font-size);
        line-height: 22px;
        width: 100%;
    }

    .order__product-item-desc {
        color: rgba(0, 0, 0, .54);
    }

    .order__product-item-old-price {
        text-decoration: line-through;
        opacity: .26;
    }

    .order__product-item-price {
        color: var(--primary-color);
    }

    .order__money {
        background-color: #fafafa;
        border-top: 1px solid var(--border-color);
    }
    
    .order__money-row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        border-bottom: 1px dotted var(--border-color);
    }

    .order__money-row-left {
        font-size: 12px;
        color: rgba(0, 0, 0, .54);
        display: flex;
        align-items: center;
    }
    
    .order__money-row-left span {
        padding: 13px 10px;
    }

    .order__money-row-left-icon {
        font-size: 16px;
        margin: 0 10px 0 0;
    }

    .order__money-row-right {
        width: 240px;
        border-left: 1px dotted var(--border-color);
        padding: 13px 24px 13px 10px;
        font-size: 13px;
        color: rgba(0, 0, 0, .8);
    }

    .order__money-row-bottom {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
    }

    .order__money-row-bottom-left span {
        padding: 23px 13px;
        display: block;
        font-size: 12px;
        color: rgba(0, 0, 0, .54);
    }
    
    .order__money-row-bottom-right {
        font-size: 24px;
        color: var(--primary-color);
        width: 240px;
        padding: 23px 24px;
        border-left: 1px dotted var(--border-color);
    }

    .order__please {
        padding-bottom: 6px;
        background-color: #fffefb;
    }
    
    .order__please-content {
        padding: 12px 24px;
        display: flex;
        align-items: center;
        border: 1px solid rgba(224, 168, 0, .4);
        border-radius: 2px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .order__please-icon {
        font-size: 16px;
        color: var(--star-gold-color);
    }

    .order__please-text {
        padding-left: 8px;
        font-size: 12px;
        color: rgba(0, 0, 0, .54);
    }

    .order__please-text span {
        color: var(--primary-color);
        font-weight: 500;
    }

    .order__bottom {
        background-color: #fafafa;
    }

    .order__bottom-icon {
        font-size: 16px;
        color: var(--primary-color);
    }

    .order__bottom .order__money-row-right {
        font-size: 14px;
    }


}

