.detail {
    max-width: 1200px;
    margin: 30px auto 16px;
}

.detail__product {
    background-color: var(--white-color);
}

.detail__left {
    padding: 0 4px;
    position: relative;
    transition: all 0.5s ease;
}

.detail__left-img {
    border-radius: 4px;
    max-width: 100%;
}

.detai__left-progress {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16px;
    right: 16px;
    left: 16px;
    bottom: 16px;
    background-color: #fafafa;
    border-radius: 4px;
    transition: all .3s ease;
}

.detai__left-progress-spinner {
    border: 6px solid #ededed;
    border-top-color: transparent;
}

.detai__left-progress-icon {
    font-size: 70px;
    color: #ededed;
}

.detail__right {
    position: relative;
    padding: 2rem 0;
}

.detail__right-loading {
    position: absolute;
    top: 16px;
    right: 16px;
    left: 16px;
    bottom: 16px;
    border-radius: 4px;
    background-color: var(--white-color);
}

.detail__right-loading-product-name {
    height: 30px;
    width: 50%;
    background-color: #fafafa;
    border-radius: 4px;
}

.detail__right-loading-product-price {
    height: 30px;
    width: 40%;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-desc-title {
    height: 26px;
    width: 30%;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-desc-text {
    height: 200px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-qnt {
    height: 32px;
    width: 30%;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-btns {
    display: flex;
    column-gap: 16px;
}

.detail__right-loading-product-btn {
    height: 36px;
    width: 142px;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-share {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.detail__right-loading-product-share-title {
    height: 26px;
    width: 64px;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-share-box {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #fafafa;
    margin-top: 16px;
}

.detail__right-title {
    font-size: 20px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.detail__number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.detail__favorite {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.detail__favorite-icon {
    cursor: pointer;
    font-size: 32px;
    color: var(--heart-color);
}

.detail__favorite-text {
    font-size: 16px;
}

.detail__price {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0 26px 0;
    font-size: 20px;
}

    .detail__price-new {
        font-size: 30px;
    }

.detail__price-old span {
    color: #929292;
    font-size: 16px;
    text-decoration: line-through;
}

.detail__price-new span {
    color: var(--primary-color);
}

.detail__policy,
.detail__transport {
    display: flex;
    margin-bottom: 26px;
}

.detail__policy-title,
.detail__transport-title {
    width: 140px;
    color: #757575;
}

.detail__policy-desc {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.detail__policy-desc-time-icon {
    font-size: 16px;
    color: var(--primary-color);
    font-size: 16px;
}

.detail__policy-desc-change {
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    align-items: center;
}

.detail__policy-desc-change-ques {
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 10px;
}

.detail__policy-desc-change-ques-icon {
    font-size: 16px;
}

.detail__policy-desc-change-more {
    position: absolute;
    top: 28px;
    width: 450px;
    background-color: var(--white-color);
    text-align: justify;
    line-height: 20px;
    color: var(--text-color);
    padding: 16px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .06);
    border-radius: 4px;
    display: none;
    z-index: 1;
}

.detail__policy-desc-change-ques:hover .detail__policy-desc-change-more {
    display: block;
}

.detail__policy-desc-change-more-link {
    color: var(--link-color);
}

.detail__policy-desc-change-more::before {
    position: absolute;
    content: '';
    border-width: 20px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.detail__transport-desc-top-img {
    height: 20px;
}

.detail__transport-desc-top {
    display: flex;
}

.detail__transport-desc-top-sub {
    margin: 0 0 12px 8px;
}

.detail__transport-desc-bottom {
    display: flex;
    column-gap: 8px;
}

.detail__transport-desc-bottom-left {
    width: 26px;
}

.detail__transport-desc-bottom-icon {
    font-size: 16px;
}

.detail__transport-desc-bottom-right {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.detail__transport-location,
.detail__transport-price {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.detail__transport-location-title,
.detail__transport-price-title {
    width: 110px;
    color: #757575;
}

.detail__transport-price-name,
.detail__transport-location-name {
    display: flex;
    align-items: center;
}

.detail__transport-price-down {
    position: relative;
    display: flex;
    margin-left: 6px;
    justify-content: center;
    align-items: center;
}

.detail__transport-price-down-icon {
    font-size: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
}

.detail__transport-location-down-icon {
    font-size: 20px;
    margin-left: 6px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
}

.detail__transport-price-more {
    position: absolute;
    top: 28px;
    width: 450px;
    background-color: var(--white-color);
    text-align: justify;
    line-height: 20px;
    color: var(--text-color);
    padding: 16px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1), 0 8px 16px 0 rgba(0, 0, 0, .06);
    border-radius: 4px;
    z-index: 1;
    display: none;
}

.detail__transport-price-down:hover .detail__transport-price-more {
    display: block;
}

.detail__transport-price-more::before {
    position: absolute;
    content: '';
    border-width: 20px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.detail__transport-price-more-name {
    display: flex;
}

.detail__transport-price-more-title {
    flex: 1;
}

.detail__transport-price-more-sub,
.detail__transport-price-more-price {
    color: var(--primary-color);
    margin-left: 4px;
}

.detail__transport-price-more-time {
    font-size: 12px;
    color: #757575;
    margin-top: 10px;
}

.detail__text {
    margin-top: 2rem;
}

.detail__text-title {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
    font-size: 18px;
    font-weight: 400;
}

.detail__text-desc {
    font-size: 15px;
    text-align: justify;
    padding: 0.3rem;
    opacity: 0.8;
    line-height: 1.5;
}

.detail__cart-icon {
    margin-left: 10px;
}

.detail__icon-favorite {
    font-size: 3rem;
}

.detail__btns{
    margin: 1.5rem 0;
}

.detail__btn-count-input,
.detail__btn-count-btn {
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-bottom: 1rem;
}

.detail__btn-count-input {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 60px;
}

.detail__btn-count-btn {
    cursor: pointer;
}

.detail__btn-count {
    margin-bottom: 15px;
    display: flex;
}

.detail__btn-count-btn {
    background-color: #f5f5f5;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
}

.detail__btn-add {
    min-width: 142px;
    height: 36px;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    padding: 0;
    color: var(--primary-color);
    cursor: pointer;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    margin-right: 1rem;
}

.detail__btn-buy-now:hover {
    opacity: 0.9;
}

.detail__btn-add:hover {
    background-color: var(--white-color);
}

.detail__social {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.detail__social-title {
    font-size: 20px;
}

.detail__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.detail__social-link:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

.detail__shop {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 16px;
    padding: 35px;
    font-size: var(--normal-font-size);
    color: var(--text-color);
} 

.detail__shop-left {
    display: flex;
    column-gap: 20px;
    padding-right: 25px;
    border-right: 1px solid var(--border-color);
}

.detail__shop-avatar {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid var(--border-color);
}

.detail__shop-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.detail__shop-avatar-favorite {
    position: absolute;
    bottom: -7px;
    left: 10px;
    height: 18px;
    display: flex;
    align-items: center;
    padding: 3px 4px;
    font-size: 12px;
    background-color: var(--primary-color);
    border-radius: 2px;
    color: var(--white-color);
}

/* Đọc về flex-grow và flex-shrink: 
https://viblo.asia/p/ban-da-biet-flex-grow-va-flex-shrink-hoat-dong-the-nao-chua-Qbq5Qk9EZD8 */
.detail__shop-right {
    flex-grow: 1; 
    padding-left: 25px;
    grid-template-columns: repeat(3, auto);
    gap: 20px 50px;
}

.detail__shop-item {
    justify-content: space-between;
}

.detail__shop-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.detail__shop-info-name {
    font-size: 16px;
}

.detail__shop-info-btns {
    column-gap: 10px;
    margin-top: 8px;
}

.detail__shop-info-active {
    color: #757575;
    font-size: 13px;
}

.detail__shop-info-btn-chat {
    height: 34px;
    border: 1px solid var(--primary-color);
    background-color: rgba(255,87,34,.1);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 0 16px;
}

.detail__shop-info-btn-view {
    height: 34px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 0 16px;
}

.detail__shop-info-btn-chat-icon {
    font-size: 16px;
    margin-right: 6px;
}

.detail__shop-info-btn-view-icon {
    font-size: 16px;
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.54);
}

.detail__shop-item-numb {
    color: var(--primary-color);
}

/* Address Form */
.address-form {
    background-color: var(--white-color);
    border-radius: 2px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, .54) 0px 2px 4px;
    position: relative;
    /* overflow: hidden; */
}

.address-form__container {
    position: relative;
    font-size: var(--normal-font-size);
    height: 100%;
}

.address-form__container.hide {
    display: none;
}

.address-form__header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.address-form__title {
    font-size: 17px;
    text-transform: capitalize;
    line-height: 1.5;
}

.address-form__close-icon {
    font-size: 20px;
    color: rgba(0, 0, 0, .54);
}

.address-form__body {
    padding: 24px 24px 24px 24px;
}

.address-form__search {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.address-form__search-input {
    height: 38px;
    flex: 1;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 10px;
    font-family: var(--body-font);
}

.address-form__search-btn {
    height: 38px;
    background-color: var(--primary-color);
    border-radius: 3px;
    padding: 0 18px;
    color: var(--white-color);
    cursor: pointer;
}

.address-form__search-btn:hover {
    opacity: .9;
}

.address-form__list {
    list-style: none;
    max-height: 300px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.address-form__list::-webkit-scrollbar {
    display: none;
}

.address-form__item {
    padding: 16px 0;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}

.address-form__item:last-child {
    border-bottom: 1px solid transparent;
}

.address-form__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}

.address-form__item-header-info {
    display: flex;
    align-items: center;
}

.address-form__item-box {
    padding-right: 4px;
}

.address-form__item-content {
    line-height: 1.5;
    width: 100%;
}

.address-form__item-name {
    position: relative;
    font-size: 16px;
    color: rgba(0, 0, 0, .87);
    line-height: 1.5;
}

.address-form__item-name::before {
    content: '';
    position: absolute;
    border-left: 0.5px solid rgba(0, 0, 0, .26);
    height: 20px;
    right: -17px;
    top: 30%;
    transform: translateY(-30%);
    display: block;
    margin-right: 8px;
}

.address-form__item-phone {
    margin-left: 16px;
    color: rgba(0, 0, 0, .54);
}

.address-form__item-update {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(64, 128, 238);
}

.address-form__item-body {
    font-size: 14px;
    color: rgba(0, 0, 0, .54);
}

.address-form__item-sub {
    margin: 4px 0;
    border: .5px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    padding: 2px 4px;
    border-radius: 1px;
    display: none;
}

.address-form__item.default .address-form__item-sub {
    display: block;
}

.address-form__add-btn {
    min-width: 140px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 2px;
    font-size: 14px;
    color: var(--primary-color);
    font-size: 14px;
    text-transform: capitalize;
}

.address-form__add-btn:hover {
    background-color: #f7f7f7;
}

.address-form__add-btn-icon {
    font-size: 16px;
    color: rgba(0, 0, 0, .54);
    margin-right: 8px;
}

.address-form__footer {
    position: absolute;
    bottom: 0;
    padding: 0 24px;
    height: 64px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .09);
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
}

.address-form__btn-destroy {
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
}

/* Address Form Mobile */
.address-form-mobile {
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: 1;
    display: none;
}

.address-form-mobile.open {
    display: block;
}

.address-form-mobile__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px;
    height: 60px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    column-gap: 20px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.address-form-mobile__header-back-icon {
    font-size: 24px;
    color: var(--primary-color);
}

.address-form-mobile__header-title {
    font-size: 18px;
}

.address-form-mobile__search {
    padding: 68px 16px 4px 16px;
    background-color: var(--white-color);
}

.address-form-mobile__search-input {
    height: 50px;
    border-radius: 4px;
    padding: 10px;
    background-color: #f5f5f5;
    width: 100%;
}

.address-form-mobile__body {
    padding: 40px 0 16px 0;
}

.address-form-mobile__body-title {
    padding: 0 16px 0px 16px;
    color: #757575;
}

.address-form-mobile__body-list {
    padding: 0 16px;
    background-color: var(--white-color);
}

.address-form-mobile__body-add {
    padding: 16px;
    display: flex;
    border-top: 1px solid var(--border-color);
    background-color: var(--white-color);
    column-gap: 16px;
    align-items: center;
}

.address-form-mobile__body-add-sub {
    flex: 1;
}

@media screen and (min-width: 992px) {
    .detail__product {
        display: flex;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
    }

    .detail__right {
        flex: 1;
        padding: 20px 35px 20px 20px;
    }

    .detail__left {
        width: 450px;
        padding: 16px;
    }

    .detail__left-img {
        min-width: 100%;
    }

    .header__mobile-product-name {
        display: none;
    }

    .detail__mobile-btns {
        display: none;
    }

    .detail__mobile-bottom-sheet {
        display: none;
    }

    .detail__shop-right {
        display: grid;
    }

    .detail__shop-left {
        width: 440px;
    }

    .detail__shop-info {
        justify-content: space-between;
    }

    .detail__shop-info-btns {
        display: flex;
    }

    .detail__shop-item {
        display: flex;
    }

    .header__mobile-back,
    .header__mobile-more {
        display: none;
    }

    /* Rate */
    .rate {
        display: flex;
        column-gap: 2rem;
        justify-content: center;
    }

    .rate__me {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .header__product-detail {
        padding: 8px 8px 8px 8px;
    }

    .header__product-detail.scroll-detail {
        background-color: var(--white-color);
    }

    .header__mobile-back {
        margin-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #d7d7d7;
    }

    .header__mobile-back.scroll-detail,
    .header__cart-wrap.scroll-detail,
    .header__mobile-more.scroll-detail {
        background-color: var(--white-color);
    }

    .header__mobile-back-icon {
        color: var(--white-color);
    }

    .header__mobile-back-icon.scroll-detail,
    .header__mobile-more-icon.scroll-detail,
    .header__cart-icon.scroll-detail {
        color: var(--primary-color);
    }

    .header__mobile-more {
        margin-left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: #d7d7d7;
    }

    .header__mobile-more-icon {
        font-size: 24px;
        color: var(--white-color);
    }

    .header__mobile-product-name {
        flex: 1;
        font-size: 20px;
        line-height: 26px;
        height: 26px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        opacity: 0;
    }

    .header__mobile-product-name.scroll-detail {
        opacity: 1;
    }

    .header__cart-wrap {
        padding: 0;
        margin: 0 12px;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: #d7d7d7;
    }

    .header__cart-icon {
        margin-top: 8px;
    }

    .app__container {
        margin-top: calc(30px + var(--header-height));
    }

    .detail__left {
        padding-top: 4px;
    }

    .detail__right-title {
        padding: 0 16px;
    }

    .detail__price {
        padding: 16px 16px 26px 16px;
    }

    .detail__text {
        padding: 0 16px;
    }

    .detail__number {
        padding: 16px 16px 0 16px;
    }

    .detail__policy-destop-mobile-container {
        display: flex;
        align-items: center;
        column-gap: 16px;
        padding: 16px;
        background-color: #fff5f4;
    }

    .detail__policy-destop-mobile-icon {
        font-size: 36px;
        color: var(--primary-color);
    }

    .detail__policy-destop-mobile-title {
        color: var(--primary-color);
        margin-bottom: 8px;
    }

    .detail__policy-destop-mobile-sub {
        color: #757575;
    }

    .detail-mobile__transport {
        margin-top: 16px;
        padding: 16px;
        background-color: var(--white-color);
    }

    .detail-mobile__transport-free,
    .detail-mobile__transport-price {
        display: flex;
        column-gap: 12px;
        align-items: center;
    }

    .detail-mobile__transport-price {
        margin-top: 12px;
    }

    .detail-mobile__transport-free-thumb,
    .detail-mobile__transport-price-truck {
        width: 30px;
    }

    .detail-mobile__transport-free-img {
        height: 20px;
    }

    .detail-mobile__transport-price-truck-icon,
    .detail-mobile__transport-price-down-icon,
    .detail-mobile__transport-price-modal-location-down-icon,
    .address-form-mobile__body-add-icon,
    .address-form-mobile__body-add-more {
        font-size: 20px;
        color: rgba(0, 0, 0, .54);
    }

    .detail-mobile__transport-price-detail {
        display: flex;
        align-items: center;
        column-gap: 4px;
    }

    .detail-mobile__transport-price-modal-overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        display: none;
    }

    .detail-mobile__transport-price-modal-overlay.show {
        display: block;
    }

    .detail-mobile__transport-price-modal-container {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        transform: translateY(100%);
        background-color: #f5f5f5;
        border-radius: 4px 4px 0 0;
        overflow: hidden;
        box-shadow: 0 4px 20px 0 rgba(28, 28, 51, .16);
        animation: showBottomSheet .4s ease forwards;
        transition: all .3s ease;
        z-index: 1;
    }

    .detail-mobile__transport-price-modal-container.show {
        transform: translateY(0);
    }

    .detail-mobile__transport-price-modal-header {
        padding: 16px;
        text-align: center;
        font-size: 18px;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--white-color);
    }

    .detail-mobile__transport-price-modal-location {
        padding: 10px 16px;
        column-gap: 4px;
        display: flex;
        align-items: center;
        background-color: var(--white-color);
    }

    .detail-mobile__transport-price-modal-location-sub {
        color: #757575;
        width: 110px;
    }

    .detail-mobile__transport-price-modal-location-desc {
        flex: 1;
        line-height: 20px;
        height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .detail-mobile__transport-price-modal-body {
        background-color: var(--white-color);
        margin: 16px 0 50px 0;
        padding: 16px;
    }

    .detail-mobile__transport-price-modal-body-detail {
        display: flex;
        justify-content: space-between;
    }

    .detail-mobile__transport-price-modal-body-numb {
        color: var(--primary-color);
    }

    .detail-mobile__transport-price-modal-body-time {
        font-size: 12px;
        color: #757575;
        margin-top: 10px;
    }

    .detail-mobile__transport-price-modal-btn {
        padding: 16px;
        text-align: center;
        margin: 0 8px 8px 8px;
        background-color: var(--primary-color);
        border-radius: 4px;
        color: var(--white-color);
    }

    .detail__mobile-btns {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white-color);
        font-size: var(--normal-font-size);
        z-index: 1;
    }

    .detail__mobile-btn-add {
        flex: 1;
        text-align: center;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        height: 50px;
        line-height: 50px;
        background-color: #f5f5f5;
        cursor: pointer;
        border-top-left-radius: 2px;
    }

    .detail__mobile-btn-buy-now {
        flex: 1;
        text-align: center;
        background-color: var(--primary-color);
        height: 50px;
        line-height: 50px;
        color: var(--white-color);
        cursor: pointer;
        border-top-right-radius: 2px;
    }

    .detail__mobile-btn-buy-now:hover {
        opacity: .9;
    }

    .detail__mobile-bottom-sheet-modal.open {
        display: block;
    }

    .detail__mobile-bottom-sheet-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 9;
        display: none;
    }

    .detail__mobile-bottom-sheet-overlay.open {
        display: block;
    }
    
    .detail__mobile-bottom-sheet {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        transform: translateY(100%);
        background-color: var(--white-color);
        border-radius: 4px 4px 0 0;
        box-shadow: 0 4px 20px 0 rgba(28, 28, 51, .16);
        animation: showBottomSheet .4s ease forwards;
        transition: all .3s ease;
        z-index: 10;
    }

    .detail__mobile-bottom-sheet.open {
        transform: translateY(0);
    }

    @keyframes showBottomSheet {
        to {
            bottom: 0;
        }
    }

    .detail__mobile-bottom-sheet-info {
        padding: 12px;
        display: flex;
        column-gap: 12px;
        border-bottom: 1px solid var(--border-color);
    }

    .detail__mobile-bottom-sheet-info-img {
        height: 180px;
        width: 180px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .detail__mobile-bottom-sheet-info-desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 16px;
        color: var(--primary-color);
        line-height: 20px;
    }

    .detail__mobile-bottom-sheet-info-warehouse {
        font-size: 14px;
        color: #666;
    }

    .detail__mobile-bottom-sheet-close {
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
    }

    .detail__mobile-bottom-sheet-close-icon {
        font-size: 20px;
        color: #747474;
    }

    .detail__mobile-bottom-sheet-type {
        padding: 12px;
        font-size: var(--normal-font-size);
        border-bottom: 1px solid var(--border-color);
    }

    .detail__mobile-bottom-sheet-type-title {
        margin-bottom: 12px;
        text-transform: uppercase;
    }

    .detail__mobile-bottom-sheet-type-list {
        display: flex;
        justify-content: space-between;
        column-gap: 12px;
    }

    .detail__mobile-bottom-sheet-type-item {
        display: flex;
        column-gap: 8px;
        align-items: center;
        flex: 1;
        padding: 4px 12px;
        background-color: #f4f4f4;
    }

    .detail__mobile-bottom-sheet-type-item.active {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        border-radius: 2px;
    }

    .detail__mobile-bottom-sheet-type-item-img {
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .detail__mobile-bottom-sheet-quantity {
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--normal-font-size);
    }

    .detail__mobile-bottom-sheet-quantity-btns {
        display: flex;
        height: 32px;
        align-items: center;
        border-radius: 2px;
        border: 1px solid var(--border-color);
    }

    .detail__mobile-bottom-sheet-quantity-btn-plus,
    .detail__mobile-bottom-sheet-quantity-btn-less {
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        cursor: pointer;
    }

    .detail__mobile-bottom-sheet-quantity-input {
        width: 64px;
        height: 100%;
        border: none;
        outline: none;
        text-align: center;
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
    }

    .detail__mobile-bottom-sheet-add-to-cart {
        padding: 12px;
        text-align: center;
        font-size: var(--normal-font-size);
        text-transform: uppercase;
        margin: 12px;
        background-color: var(--primary-color);
        border-radius: 2px;
        color: var(--white-color);
        cursor: pointer;
    }

    .detai__left-progress {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .detail__right-loading {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .detail__shop {
        flex-direction: column;
        padding: 12px 16px;
        align-items: start;
    }

    .detail__shop-left {
        width: 100%;
        align-items: center;
        border-right: none;
        padding-right: 0;
    }

    .detail__shop-right {
        display: flex;
        padding-left: 0;
        margin-top: 16px;
        gap: 0;
        justify-content: space-between;
        width: 100%;
    }

    .detail__shop-info {
        row-gap: 4px;
    }

    .detail__shop-info-direction {
        display: flex;
        column-gap: 6px;
        font-size: 13px;
        color: #757575;
        align-items: center;
    }

    .detail__shop-info-direction-icon {
        font-size: 16px;
    }

    .detail__shop-info-btn-view {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

    .detail__shop-item {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }

    .detail__right-loading {
        padding: 12px;
        margin-top: 16px;
    }

    .detail__right-loading-product-qnt {
        display: none;
    }

    .detail__right-loading-product-desc-text {
        height: 120px;
    }

    .detail__right-loading-product-btns {
        display: none;
    }

    /* Address Form Add */
    .address-form-add-mobile,
    .address-form-mobile-choose {
        background-color: #f5f5f5;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        z-index: 1;
    }

    .address-form-mobile__body {
        padding: 16px 0 16px 0;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .address-form-add-mobile__div-box {
        background-color: var(--white-color);
        display: flex;
        align-items: center;
        padding: 10px 0;
        height: 50px;
        padding: 0 16px;
    }

    .auth__mobile-form-input {
        width: 100%;
        border: none;
        outline: none;
        font-family: 'Roboto', sans-serif;
        color: var(--text-color);
    }

    .address-form-add-mobile__div-box-line {
        border-bottom: 1px solid var(--border-color);
    }

    .address-form-add-mobile__div-text {
        flex: 1;
    }

    .address-form-add-mobile__div-btns {
        display: flex;
        column-gap: 12px;
    }

    .address-form-add-mobile__div-btn {
        padding: 10px;
        border-radius: 4px;
        background-color: #e8e8e8;
    }

    .address-form-add-mobile__control {
        position: relative;
        height: 24px;
        width: 48px;
        border-radius: 16px;
        background-color: #b7b7b7;
        cursor: pointer;
    }

    .address-form-add-mobile__control-circle {
        position: absolute;
        height: 20px;
        width: 20px;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: var(--white-color);
        transition: left .3s ease-in-out;
    }

    .address-form-add-mobile__bottom {
        padding: 8px;
        background-color: var(--white-color);
    }

    .address-form-add-mobile__btn-add {
        padding: 12px;
        border-radius: 4px;
        background-color: #e8e8e8;
        color: #ababab;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    .address-form-mobile-choose__search-icon {
        font-size: 16px;
        color: rgba(0, 0, 0, .54);
    }

    .address-form-mobile-choose__search {
        width: 100%;
        background-color: #f3f3f3;
        display: flex;
        column-gap: 10px;
        align-items: center;
        height: 40px;
        border-radius: 4px;
        padding-left: 12px;
    }

    .address-form-mobile-choose__search-input {
        height: 100%;
        width: 100%;
        background-color: #f3f3f3;
        border-radius: 4px;
    }

    .address-form-mobile-choose__body {
        margin-top: 60px;
    }

    .address-form-mobile-choose__location {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 12px;
        border-radius: 4px;
        box-shadow: 0 0 2px #333;
        height: 50px;
        background-color: var(--white-color);
        margin: 16px;
    }

    .address-form-mobile-choose__location-icon {
        font-size: 24px;
        color: var(--primary-color);
    }

    .address-form-mobile-choose__city-list {
        background-color: var(--white-color);
    }

    .address-form-mobile-choose__city-item {
        height: 60px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
    }

    .address-form-mobile-choose__establish {
        background-color: var(--white-color);
        padding-bottom: 14px;
        margin-bottom: 16px;
    }

    .address-form-mobile-choose__establish-title {
        display: flex;
        justify-content: space-between;
        padding: 16px 16px 32px;
    }

    .address-form-mobile-choose__establish-title-back {
        color: var(--primary-color);
    }

    .address-form-add-mobile-choose__city {
        padding-top: 16px;
    }

    .address-form-mobile-choose__establish-city {
        display: flex;
        column-gap: 16px;
        padding: 0 16px 0 36px;
        margin-bottom: 16px;
    }

    .address-form-mobile-choose__establish-district-value {
        display: flex;
        column-gap: 16px;
        padding: 0 16px 0 36px;
    }

    .address-form-mobile-choose__establish-box {
        position: relative;
    }

    .address-form-mobile-choose__establish-rounder {
        height: 11px;
        width: 11px;
        background-color: #d8d8d8;
        border-radius: 50%;
        margin-top: 4px;
    }

    .address-form-mobile-choose__establish-line {
        display: block;
        width: 1px;
        position: absolute;
        height: 100%;
        background-color: var(--border-color);
        transform: translateX(6px);
    }

    .address-form-mobile-choose__establish-district,
    .address-form-mobile-choose__establish-street {
        display: flex;
        column-gap: 16px;
        align-items: center;
        border-radius: 4px;
        box-shadow: 0 0 2px #333;
        height: 50px;
        background-color: var(--white-color);
        margin: 16px 16px 0;
        padding-left: 16px;
    }

    .address-form-mobile-choose__establish-input {
        height: 20px;
        width: 20px;
        accent-color: var(--primary-color);
    }
}


