.detail {
    max-width: 1200px;
    margin: 30px auto 16px;
}

.detail__left {
    padding: 0 4px;
    position: relative;
    transition: all 0.5s ease;
}

.detail__left-img {
    border-radius: 15px;
    max-width: 100%;
}

.detai__left-progress {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16px;
    right: 16px;
    left: 16px;
    bottom: 16px;
    background-color: #fafafa;
    border-radius: 4px;
    transition: all .3s ease;
}

.detai__left-progress-spinner {
    border: 6px solid #ededed;
    border-top-color: transparent;
}

.detai__left-progress-icon {
    font-size: 70px;
    color: #ededed;
}

.detail__right {
    position: relative;
    padding: 2rem 1rem;
}

.detail__right-loading {
    position: absolute;
    top: 16px;
    right: 16px;
    left: 16px;
    bottom: 16px;
    border-radius: 4px;
    background-color: var(--white-color);
}

.detail__right-loading-product-name {
    height: 30px;
    width: 50%;
    background-color: #fafafa;
    border-radius: 4px;
}

.detail__right-loading-product-price {
    height: 30px;
    width: 40%;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-desc-title {
    height: 26px;
    width: 30%;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-desc-text {
    height: 200px;
    width: 100%;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-qnt {
    height: 32px;
    width: 30%;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-btns {
    display: flex;
    column-gap: 16px;
}

.detail__right-loading-product-btn {
    height: 36px;
    width: 142px;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-share {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.detail__right-loading-product-share-title {
    height: 26px;
    width: 64px;
    background-color: #fafafa;
    border-radius: 4px;
    margin-top: 16px;
}

.detail__right-loading-product-share-box {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #fafafa;
    margin-top: 16px;
}

.detail__right-title {
    font-size: 20px;
    line-height: 24px;
    height: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.detail__number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail__favorite {
    cursor: pointer;
}

.detail__favorite-icon {
    font-size: 32px;
    color: var(--heart-color);
}

.detail__price {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    font-size: 20px;
}

    .detail__price-new {
        font-size: 30px;
    }

.detail__price-old span {
    color: #929292;
    font-size: 16px;
    text-decoration: line-through;
}

.detail__price-new span {
    color: var(--primary-color);
}

.detail__text {
    margin-top: 2rem;
}

.detail__text-title {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
    font-size: 18px;
    font-weight: 400;
}

.detail__text-desc {
    font-size: 15px;
    text-align: justify;
    padding: 0.3rem;
    opacity: 0.8;
    line-height: 1.5;
}

.detail__cart-icon {
    margin-left: 10px;
}

.detail__icon-favorite {
    font-size: 3rem;
}

.detail__btns{
    margin: 1.5rem 0;
}

.detail__btn-count-input,
.detail__btn-count-btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-bottom: 1rem;
}

.detail__btn-count-input {
    width: 60px;
}

.detail__btn-count-btn {
    cursor: pointer;
}

.detail__btn-count {
    margin-bottom: 15px;
    display: flex;
}

.detail__btn-count-btn {
    background-color: #f5f5f5;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.detail__btn-add {
    min-width: 142px;
    height: 36px;
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    padding: 0;
    color: var(--primary-color);
    cursor: pointer;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    margin-right: 1rem;
}

.detail__btn-buy-now:hover {
    opacity: 0.9;
}

.detail__btn-add:hover {
    background-color: var(--white-color);
}

.detail__social {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-top: 1rem;
}

.detail__social-title {
    font-size: 20px;
}

.detail__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.detail__social-link:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

.detail__shop {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-top: 16px;
    padding: 35px;
    font-size: var(--normal-font-size);
    color: var(--text-color);
} 

.detail__shop-left {
    display: flex;
    column-gap: 20px;
    padding-right: 25px;
    border-right: 1px solid var(--border-color);
}

.detail__shop-avatar {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid var(--border-color);
}

.detail__shop-avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.detail__shop-avatar-favorite {
    position: absolute;
    bottom: -7px;
    left: 10px;
    height: 18px;
    display: flex;
    align-items: center;
    padding: 3px 4px;
    font-size: 12px;
    background-color: var(--primary-color);
    border-radius: 2px;
    color: var(--white-color);
}

/* Đọc về flex-grow và flex-shrink: 
https://viblo.asia/p/ban-da-biet-flex-grow-va-flex-shrink-hoat-dong-the-nao-chua-Qbq5Qk9EZD8 */
.detail__shop-right {
    flex-grow: 1; 
    padding-left: 25px;
    grid-template-columns: repeat(3, auto);
    gap: 20px 50px;
}

.detail__shop-item {
    justify-content: space-between;
}

.detail__shop-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.detail__shop-info-name {
    font-size: 16px;
}

.detail__shop-info-btns {
    column-gap: 10px;
    margin-top: 8px;
}

.detail__shop-info-active {
    color: #757575;
    font-size: 13px;
}

.detail__shop-info-btn-chat {
    height: 34px;
    border: 1px solid var(--primary-color);
    background-color: rgba(255,87,34,.1);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 0 16px;
}

.detail__shop-info-btn-view {
    height: 34px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    border-radius: 2px;
    padding: 0 16px;
}

.detail__shop-info-btn-chat-icon {
    font-size: 16px;
    margin-right: 6px;
}

.detail__shop-info-btn-view-icon {
    font-size: 16px;
    margin-right: 6px;
    color: rgba(0, 0, 0, 0.54);
}

.detail__shop-item-numb {
    color: var(--primary-color);
}

@media screen and (min-width: 992px) {
    .detail__product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        background-color: var(--white-color);
    }

    .detail__right {
        padding: 20px 35px 0 20px;
    }

    .detail__left {
        padding: 16px;
    }

    .detail__left-img {
        min-width: 100%;
    }

    .header__mobile-product-name {
        display: none;
    }

    .detail__mobile-btns {
        display: none;
    }

    .detail__mobile-bottom-sheet {
        display: none;
    }

    .detail__shop-right {
        display: grid;
    }

    .detail__shop-left {
        width: 440px;
    }

    .detail__shop-info {
        justify-content: space-between;
    }

    .detail__shop-info-btns {
        display: flex;
    }

    .detail__shop-item {
        display: flex;
    }

    .header__mobile-back,
    .header__mobile-more {
        display: none;
    }

    /* Rate */
    .rate {
        display: flex;
        column-gap: 2rem;
        justify-content: center;
    }

    .rate__me {
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .header__product-detail {
        padding: 8px 8px 8px 8px;
    }

    .header__product-detail.scroll-detail {
        background-color: var(--white-color);
    }

    .header__mobile-back {
        margin-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #d7d7d7;
    }

    .header__mobile-back.scroll-detail,
    .header__cart-wrap.scroll-detail,
    .header__mobile-more.scroll-detail {
        background-color: var(--white-color);
    }

    .header__mobile-back-icon {
        color: var(--white-color);
    }

    .header__mobile-back-icon.scroll-detail,
    .header__mobile-more-icon.scroll-detail,
    .header__cart-icon.scroll-detail {
        color: var(--primary-color);
    }

    .header__mobile-more {
        margin-left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: #d7d7d7;
    }

    .header__mobile-more-icon {
        font-size: 2.4rem;
        color: var(--white-color);
    }

    .header__mobile-product-name {
        flex: 1;
        font-size: 20px;
        line-height: 26px;
        height: 26px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        opacity: 0;
    }

    .header__mobile-product-name.scroll-detail {
        opacity: 1;
    }

    .header__cart-wrap {
        padding: 0;
        margin: 0 12px;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background-color: #d7d7d7;
    }

    .header__cart-icon {
        margin-top: 8px;
    }

    .app__container {
        margin-top: calc(30px + var(--header-height));
    }

    .detail__left {
        padding-top: 4px;
    }

    .detail__mobile-btns {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--white-color);
        font-size: var(--normal-font-size);
        z-index: 1;
    }

    .detail__mobile-btn-add {
        flex: 1;
        text-align: center;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        height: 50px;
        line-height: 50px;
        background-color: #f5f5f5;
        cursor: pointer;
        border-top-left-radius: 2px;
    }

    .detail__mobile-btn-buy-now {
        flex: 1;
        text-align: center;
        background-color: var(--primary-color);
        height: 50px;
        line-height: 50px;
        color: var(--white-color);
        cursor: pointer;
        border-top-right-radius: 2px;
    }

    .detail__mobile-btn-buy-now:hover {
        opacity: .9;
    }

    .detail__mobile-bottom-sheet-modal.open {
        display: block;
    }

    .detail__mobile-bottom-sheet-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 9;
        display: none;
    }

    .detail__mobile-bottom-sheet-overlay.open {
        display: block;
    }
    
    .detail__mobile-bottom-sheet {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        transform: translateY(100%);
        background-color: var(--white-color);
        border-radius: 4px 4px 0 0;
        box-shadow: 0 4px 20px 0 rgba(28, 28, 51, .16);
        animation: showBottomSheet .4s ease forwards;
        transition: all .3s ease;
        z-index: 10;
    }

    .detail__mobile-bottom-sheet.open {
        transform: translateY(0);
    }

    @keyframes showBottomSheet {
        to {
            bottom: 0;
        }
    }

    .detail__mobile-bottom-sheet-info {
        padding: 12px;
        display: flex;
        column-gap: 12px;
        border-bottom: 1px solid var(--border-color);
    }

    .detail__mobile-bottom-sheet-info-img {
        height: 180px;
        width: 180px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .detail__mobile-bottom-sheet-info-desc {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 16px;
        color: var(--primary-color);
        line-height: 20px;
    }

    .detail__mobile-bottom-sheet-info-warehouse {
        font-size: 14px;
        color: #666;
    }

    .detail__mobile-bottom-sheet-close {
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
    }

    .detail__mobile-bottom-sheet-close-icon {
        font-size: 2.4rem;
        color: #747474;
    }

    .detail__mobile-bottom-sheet-type {
        padding: 12px;
        font-size: var(--normal-font-size);
        border-bottom: 1px solid var(--border-color);
    }

    .detail__mobile-bottom-sheet-type-title {
        margin-bottom: 12px;
        text-transform: uppercase;
    }

    .detail__mobile-bottom-sheet-type-list {
        display: flex;
        justify-content: space-between;
        column-gap: 12px;
    }

    .detail__mobile-bottom-sheet-type-item {
        display: flex;
        column-gap: 8px;
        align-items: center;
        flex: 1;
        padding: 4px 12px;
        background-color: #f4f4f4;
    }

    .detail__mobile-bottom-sheet-type-item.active {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        border-radius: 2px;
    }

    .detail__mobile-bottom-sheet-type-item-img {
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .detail__mobile-bottom-sheet-quantity {
        padding: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--normal-font-size);
    }

    .detail__mobile-bottom-sheet-quantity-btns {
        display: flex;
        height: 32px;
        align-items: center;
        border-radius: 2px;
        border: 1px solid var(--border-color);
    }

    .detail__mobile-bottom-sheet-quantity-btn-plus,
    .detail__mobile-bottom-sheet-quantity-btn-less {
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        cursor: pointer;
    }

    .detail__mobile-bottom-sheet-quantity-input {
        width: 64px;
        height: 100%;
        border: none;
        outline: none;
        text-align: center;
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
    }

    .detail__mobile-bottom-sheet-add-to-cart {
        padding: 12px;
        text-align: center;
        font-size: var(--normal-font-size);
        text-transform: uppercase;
        margin: 12px;
        background-color: var(--primary-color);
        border-radius: 2px;
        color: var(--white-color);
        cursor: pointer;
    }

    .detai__left-progress {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .detail__right-loading {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .detail__shop {
        flex-direction: column;
        padding: 12px 16px;
        align-items: start;
    }

    .detail__shop-left {
        width: 100%;
        align-items: center;
        border-right: none;
        padding-right: 0;
    }

    .detail__shop-right {
        display: flex;
        padding-left: 0;
        margin-top: 16px;
        gap: 0;
        justify-content: space-between;
        width: 100%;
    }

    .detail__shop-info {
        row-gap: 4px;
    }

    .detail__shop-info-direction {
        display: flex;
        column-gap: 6px;
        font-size: 13px;
        color: #757575;
        align-items: center;
    }

    .detail__shop-info-direction-icon {
        font-size: 16px;
    }

    .detail__shop-info-btn-view {
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

    .detail__shop-item {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }

    .detail__right-loading {
        padding: 12px;
        margin-top: 16px;
    }

    .detail__right-loading-product-qnt {
        display: none;
    }

    .detail__right-loading-product-desc-text {
        height: 120px;
    }

    .detail__right-loading-product-btns {
        display: none;
    }
}


