.success-header {
    display: none;
}

@media screen and (min-width: 992px) {
    .hide-on-destop {
        display: none;
    }

    .header__mobile-back {
        display: none;
    }
}

@media screen and (max-width: 739px) {
    .header__product {
        padding: 8px 8px 8px 8px;
        background-color: var(--white-color);
    }

    .header-with-search {
        margin-left: 0;
    }

    .header__search-input::placeholder {
        color: var(--primary-color);
    }

    .success-header {
        margin-top: 10px;
        display: flex;
    }

    .header__mobile-menu-container {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 70%;
        height: 100vh;
        background-color: var(--white-color);
        padding: 12px 12px 50px 12px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        transform: translateX(-100%);
        animation: showNavMenu .4s ease forwards;
        transition: all .3s ease;
        z-index: 2;
    }

    .header__mobile-menu-overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        display: none; 
    }

    .header__mobile-menu-overlay.open {
        display: block;
    }

    .header__mobile-menu-container.open {
        transform: translateX(0);
    }

    @keyframes showNavMenu {
        to {
            left: 0;
        }
    }

    .header__mobile-menu-logo {
        text-align: center;
        padding: 10px 0 22px 0;
    }

    .header__mobile-menu-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .header__mobile-menu-close-icon {
        font-size: 2.4rem;
        color: rgba(0, 0, 0, 0.54);
    }

    .header__mobile-menu-list {
        padding-top: 12px;
        border-top: 1px solid var(--border-color);
        font-size: var(--normal-font-size);
        display: grid;
        row-gap: 24px;
    }

    .header__mobile-menu-item-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--text-color)
    }

    .header__mobile-menu-item {
        max-height: 21px;
        overflow: hidden;
    }

    .header__mobile-menu-item:hover {
        max-height: 100rem;
    }

    .header__mobile-menu-item:hover .header__mobile-menu-item-dropdown-icon {
        transform: rotate(180deg);
    }

    .header__mobile-menu-item-icon {
        font-size: 20px;
        margin-right: 16px;
        color: #747474;
        transition: .4s;
    }

    .header__mobile-menu-item-dropdown-icon {
        font-size: 20px;
        margin-left: auto;
        color: #747474;
        transition: .4s;
    }

    .header__mobile-menu-item-dropdown-content {
        margin-top: 16px;
        display: grid;
        row-gap: 8px;
        padding: 12px 16px;
        background-color: #f3f3f3;
        border-radius: 4px;
    }

    .header__mobile-menu-item-dropdown-item {
        text-decoration: none;
        color: var(--text-color);
    }
}