/*Mobile && Table*/
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0px;
        --header-height: 68px;
    }

    .header {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
        padding: 8px 12px 8px 24px;
        background-image: none;
    }

    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }

    .hide-on-mobile-table {
        display: none;
    }

    .header__cart-list::after {
        display: none;
    }

    .header__sort-bar {
        display: flex;
    }

    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }

    .app__container {
        padding-top: 8px;
    }

    .mobile-category__list {
        display: flex;
    }

    .category__navbar-btn {
        display: block;
    }

    .banner-left {
        width: 100%;
    }

    .banner-right {
        display: none;  
    }

    .category-item-home {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

/*Table */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-table {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* Mobile */
@media (max-width: 739px) {
    :root {
        --navbar-height: 0px;
        --header-height:54px;
    }

    .header.scroll {
        background-image: linear-gradient(0,#fe6433,#fe532d);
    }

    .app__container {
        margin-top: 0;
        padding-top: 0;
    }

    .banner {
        margin-top: 0;
    }

    .app__content {
        margin: 0;
    }

    .hide-on-mobile{
        display: none;
    }

    .header-with-search {
        justify-content: space-between;
    }

    .header__cart,
    .header__logo {
        width: unset;
    }

    .header__mobile-search {
        display: block;
        margin-left: -46px;
    }

    .header__search {
        height: var(--header-sort-bar-height);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        z-index: 1;
        padding: 0 4px;
        animation: mobileSearchSideIn linear 0.3s;
    }

    .header__search-history {
        position: fixed;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .header__mobile-user {
        display: block;
    }

    .header__mobile-user-link {
        display: inline-block;
        padding-left: 12px;
    }

    .header__mobile-user-icon {
        font-size: 2.4rem;
        color: var(--white-color);
        margin-top: 6px;
    }

    .header__cart-btn {
        margin-left: 202px;
    }

    .header__mobile-user-avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    .header__mobile-user-avatar-img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .banner-left {
        margin: 0 4px;
    }

    .category-header {
        margin: 0 4px;
    }

    .category-content {
        margin: 0 8px;
    }

    .category-item-home {
        flex: 0 0 25%;
        min-width: 25%;
    }

    .success-header {
        margin: 0 4px;
    }

    .pagination-item {
        margin: 0;
    }

    .pagination-item__link {
        --height:28px;
        font-size: 1.6rem;
        min-width: 36px;
    }

    .mobile-category__list {
        margin-top: -21px;
    }

    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        } to {
            opacity: 1;
            top: var(--header-height);
        }
    }

    .footer__content {
        padding: 0 16px;
    }

    .footer__item-link,
    .footer__download-apps{
        flex: unset;
        justify-content: center;
    }

    .footer__download-app-link {
        padding: 6px 8px;
    }
}

@media screen and (min-width: 992px) {
    
    .comment__add {
        grid-template-areas: "avatar input button";
        grid-template-columns: min-content auto min-content;
        gap: 1rem;
    }

    .rate {
        grid-template-columns: max-content max-content;
        column-gap: 2rem;
        justify-content: center;
    }

    .rate__me {
        margin: 0 auto;
    }
}
