/* Profile Left */
.profile__left {
    margin: 20px 0;
    display: grid;
    row-gap: 1rem;
}

.profile__left-header {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
    gap: 1rem;
    font-size: var(--normal-font-size);
    line-height: 1.5;
}

.profile__left-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile__left-account-name {
    font-size: var(--normal-font-size);
    font-weight: bold;
}

.profile__left-account-edit {
    color: #999;
}

.profile__left-account-edit i {
    padding-right: 4px;
}

.profile__left-body {
    padding-top: 10px;
    font-size: var(--normal-font-size);
}

.profile__left-list {
    list-style: none;
}

.profile__left-item {
    margin-bottom: 1rem;
}

.profile__left-link {
    text-decoration: none;
    color: var(--text-color);
}

.profile__left-link i {
    font-size: 2rem;
    padding-right: 10px;
    color: #7f9fd3;
}

/* Return */
.return {
    margin: 20px 4px;
}

.return__header {
    padding: 20px 24px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--normal-font-size);
}

.return__body-header-back {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, .54);
}

.return__body-header-back-icon {
    font-size: 24px;
    margin-right: 5px;
}

.return__body-header-text {
    display: flex;
    column-gap: 1rem;
    line-height: 16px;
}

.return__body-header-status {
    color: rgba(0, 0, 0, .54);
}

.return__step {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    background-color: var(--white-color);
    padding: 10px 24px 20px;
}

.return__step-item {
    display: grid;
    place-items: center;
}

.return__step-item-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #757575;
}

.return__step-item-text {
    margin-top: 10px;
    color: #757575;
}

.return__step-line-1 {
    top: 14px;
    left: 180px;
    position: absolute;
    height: 1px;
    width: 310px;
    background-color: #757575;
}

.return__step-line-2 {
    top: 14px;
    right: 180px;
    position: absolute;
    height: 1px;
    width: 310px;
    background-color: #757575;
}

.return__prevent {
    position: relative;
    height: 0;
    width: 100%;
    border-bottom: 1px dotted rgba(0, 0, 0, .09);
}

.return__prevent-box {
    background-color: #f5f5f5;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
}

.return__prevent-box-left {
    transform: translate(-50%, -50%);
    left: 0;
}

.return__prevent-box-right {
    transform: translate(50%, -50%);
    right: 0;
}

.return__status {
    padding: 20px 24px;
    background-color: #fffcf5;
}

.return__status-title {
    font-size: 20px;
    color: var(--primary-color);
}

.return__status-sub {
    margin-top: 10px;
    color: rgba(0, 0, 0, .54);
}