.app {
    background-color: #fefaf7;
}
/* Header */
header {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    height: 80px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
}

.header__text {
    display: flex;
    align-items: center;
}

.header__text-logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: var(--primary-color);
    padding: 10px;
}

.header__logo-img {
    width: 160px;
}

.header__text-name {
    font-size: 24px;
    margin-top: 4px;
}

/* Body */
.seller-auth {
    display: grid;
    place-items: center;
    padding: 40px 0;
}

.seller-auth__content {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.seller-auth__left {
    color: var(--primary-color);
    flex: 1;
    display: flex;
    justify-content: center;
}

.seller-auth__title-county {
    font-size: 24px;
    margin-bottom: 12px;
}

.seller-auth__title {
    font-size: 30px;
}

.seller-auth__title-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.seller-auth__title-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.seller-auth__title-item-icon {
    font-size: 24px;
}

/* Seller Form */
/* Login */
.auth {
    display: grid;
    place-items: center;
    padding: 40px 0;
    /* background-image: linear-gradient(0,#fe6433,#fe532d); */
}

.auth__content {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.auth__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__left-img {
    margin-bottom: 20px;
}

.auth__content-logo {
    width: 260px;
}

.auth__left-sub {
    font-size: 24px;
    color: var(--white-color);
    /* font-weight: bold; */
}

.auth__left-sub.sub-2 {
    margin-top: 20px;
}

.auth__right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.auth-form {
    display: grid;
}

/*Form*/
/* Authen Modal*/
.auth-form {
    margin-inline: 0 1.5rem;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
}

.auth-form__container {
    padding: 30px 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 12px; */
}

.auth-form__heading {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__close {
    font-size: 2rem;
    color: var(--text-color);
}

.auth-form__form {
    margin-top: 24px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font);
}

.seller-auth__input-phone.err,
.seller-auth__input-password.err,
.seller-auth__regis-input-phone.err,
.seller-confirm__method-body-input-password.err {
    border: 1px solid var(--primary-color);
}

.auth-msg__err {
    color: var(--primary-color);
    font-size: 12px;
    margin-top: 10px;
    display: block;
}

    .auth-form__input:focus {
        border-color: #888;
    }

.auth-form__aside {
    margin: 18px 0;
}

.auth-form__result {
    font-size: var(--normal-font-size);
    color: var(--primary-color);
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    /* background-color: #f5f5f5; */
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 18px;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.btn.btn--size-color {
    color: var(--white-color);
}

.auth-form__btn {
    padding: 12px 0;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 2px;
    width: 100%;
    color: var(--white-color);
}

.auth-form__btn:hover {
    opacity: .9;
    cursor: pointer;
}

.auth-form__or {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
}

.auth-form__or-line {
    height: 1px;
    width: 100%;
    background-color: #dfdfdf;
}

.auth-form__or-title {
    text-transform: uppercase;
    color: #757575;
    background-color: var(--white-color);
    padding: 0 12px;
}

.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 20px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 16px;
    margin: 0 16px;
}

.auth-form__help-link-fogot {
    color: var(--primary-color);
}

.auth-form__agree {
    padding: 4px 0 16px 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.auth-form__agree-link {
    color: var(--primary-color);
}

.auth-form__footer {
    padding: 20px 0 40px 0;
    text-align: center;
}

.auth-form__footer-link {
    color: var(--primary-color);
}

/* Seller Confirm */
.seller-confirm {
    width: 500px;
    padding: 50px 0;
}

.seller-confirm__steps {
    margin-bottom: 60px;
    display: flex;
}

.seller-confirm__step {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}

.seller-confirm__step-numb {
    height: 36px;
    width: 36px;
    border: 1px solid var(--border-color);
    color: rgba(0, 0, 0, .26);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seller-confirm__step-numb-icon {
    font-size: 20px;
}

.seller-confirm__step-sub {
    font-size: 12px;
    color: rgba(0, 0, 0, .26);
}

.seller-confirm__step.active .seller-confirm__step-numb {
    background-color: #6c0;
    color: var(--white-color);
    border: 1px solid transparent;
}

.seller-confirm__step.active .seller-confirm__step-sub {
    color: #6c0;
}

.seller-confirm__vector {
    position: relative;
    width: 85px;
    height: 1px;
    background-color: var(--border-color);
    margin-top: 16px;
}

.seller-confirm__vector.active {
    background-color: #6c0;
}

.seller-confirm__vector.active::before {
    border-right: 1px solid #6c0;
    border-top: 1px solid #6c0;
}

.seller-confirm__vector::before {
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    box-sizing: border-box;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    right: 0;
    top: -1px;
    transform: rotate(45deg);
    width: 5px;
}

.seller-confirm__method {
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .14);
}

.seller-confirm__method-header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seller-confirm__method-header-back {
    width: 80px;
    display: flex;
    justify-content: center;
}

.seller-confirm__method-header-back-icon {
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
}

.seller-confirm__method-header-sub {
    font-size: 18px;
    flex: 1;
    text-align: center;
    padding-right: 80px;
}

.seller-confirm__method-body {
    padding: 0 64px 80px;
}

.seller-confirm__method-body-sub {
    color: rgba(0, 0, 0, .87);
    text-align: center;
    margin-bottom: 32px;
}

.seller-confirm__method-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.seller-confirm__method-item {
    display: flex;
    align-items: center;
    height: 64px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.seller-confirm__method-item-img {
    width: 40px;
    height: 40px;
    margin: 0 12px;
}

.seller-confirm__method-item-thumb {
    width: 100%;
}

.seller-confirm__method-sub-phone {
    margin-top: 15px;
    font-size: 16px;
}

.seller-confirm__method-item-sub {
    font-size: 16px;
}

.seller-confirm__method-item-box {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--sub-link-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}

.seller-confirm__method-item-icon {
    font-size: 20px;
    color: var(--white-color);
}

.seller-confirm__method-zalo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    column-gap: 12px;
}

.seller-confirm__method-zalo-phone {
    font-size: 16px;
}

.seller-confirm__method-body-enter {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.seller-confirm__method-body-input {
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding: 0 8px;
    border-bottom: 2px solid var(--border-color);
    text-align: center;
}

.seller-confirm__method-body-please {
    margin: 50px 0;
    text-align: center;
    color: rgba(0, 0, 0, .54);
}

.seller-confirm__method-btn {
    text-align: center;
    padding: 12px 0;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: var(--white-color);
    text-transform: uppercase;
}

.seller-confirm__method-btn:hover {
    opacity: .9;
    cursor: pointer;
}

.seller-confirm__method-body-input-password {
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: 100%;
}

.seller-confirm__method-body-input-password:focus {
    border: 1px solid #999;
}

.seller-confirm__method-body-input-password-rule {
    padding: 16px 0 40px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
    font-size: 12px;
    row-gap: 12px;
    color: #757575;
}

.seller-confirm__method-header-success {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.seller-confirm__method-body-success-box {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border: 3px solid #6c0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seller-confirm__method-body-success-box-icon {
    font-size: 30px;
    color: #6c0;
}

.seller-confirm__method-body-success-phone {
    color: var(--primary-color);
}

.seller-confirm__method-body-success-text {
    color: rgba(0, 0, 0, .54);
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.seller-confirm__method-body-success-riderect {
    text-align: center;
    margin-bottom: 32px;
    color: rgba(0, 0, 0, .54);
}

.seller-auth__title-sub {
    font-size: 18px;
    color: #666;
    margin: 16px 0 10px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.seller-auth__img {
    height: 300px;
    margin: 0 auto;
}

/* Modal Confirm */
.modal__confirm {
    border-radius: 4px;
    padding: 30px;
    background-color: var(--white-color);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
}

.modal__confirm-text {
    width: 380px;
    font-size: 16px;
    color: #555;
}

.modal__confirm-btns {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.modal__confirm-btn-destroy {
    border-radius: 3px;
    border: 1px solid var(--border-color);
    line-height: 1.5;
    padding: 8px 16px;
    text-align: center;
    color: #555;
}

.modal__confirm-btn-destroy:hover {
    background-color: rgba(0, 0, 0, .02);
    cursor: pointer;
}

.modal__confirm-btn-method {
    flex: 1;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    line-height: 1.5;
    padding: 8px 16px;
    text-align: center;
    color: #555;
}

.modal__confirm-btn-method:hover {
    background-color: rgba(0, 0, 0, .02);
    cursor: pointer;
}

.modal__confirm-btn-send {
    padding: 8px 16px;
    color: var(--white-color);
    border-radius: 3px;
    line-height: 1.5;
    background-color: var(--primary-color);
    cursor: pointer;
}

.modal__confirm-btn-send:hover {
    opacity: .9;
}

/* Footer */
.footer__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}