/* CSS Mobile */
@media screen and (max-width: 739px) {
    :root {
        --normal-font-size: 14px;
    }

    .shop__mobile-info {
        position: relative;
        padding: 16px;
        /* background-image: linear-gradient(0, #da027f ,#e352a7); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--white-color);
        display: flex;
        column-gap: 16px;
    }

    .shop__mobile-info::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: .3;
        z-index: 1;
    }

    .shop__mobile-info-avatar {
        position: relative;
        width: 60px;
        height: 60px;
        z-index: 2;
        background-color: var(--white-color);
        border-radius: 50%;
    }

    .shop__mobile-info-avatar-img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
    }

    .shop__mobile-info-avatar-favorite span{
        position: relative;
        padding: 2px 4px;
        background-color: var(--primary-color);
        border-radius: 2px;
        bottom: 10px;
        left: 5px;
        text-align: center;
    }

    .shop__mobile-info-shop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        z-index: 2;
    }

    .shop__mobile-info-shop-name {
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    .shop__mobile-info-shop-name-arrow {
        font-size: 2.2rem;
        margin-left: 6px;
    }

    .shop__mobile-info-shop-statistical {
        display: flex;
        align-items: center;
        column-gap: 16px;
        font-size: 13px;
    }

    .shop__mobile-info-shop-statistical-rate {
        position: relative;
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, .4);
        padding: 2px 0 2px 8px;
        border-radius: 20px;
    }

    .shop__mobile-info-shop-statistical-rate::before {
        position: absolute;
        content: "";
        height: 20px;
        width: 1px;
        background-color: var(--white-color);
        right: -9px;
    }

    .shop__mobile-info-shop-statistical-rate-icon {
        color: var(--star-gold-color);
        margin-right: 8px;
    }

    .shop__mobile-info-shop-statistical-rate span,
    .shop__mobile-info-shop-statistical-monitor {
        line-height: 20px;
        height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .shop__mobile-info-btns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        z-index: 2;
    }

    .shop__mobile-info-btn-monitor,
    .shop__mobile-info-btn-chat {
        display: flex;
        width: 100px;
        align-items: center;
        column-gap: 4px;
        border-radius: 2px;
        border: 1px solid var(--white-color);
        padding: 4px 8px;
    }

    .shop__mobile-header {
        transition: all .3s;
    }

    .shop__mobile-title-list {
        display: flex;
        justify-content: space-between;
        background-color: var(--white-color);
        font-size: var(--normal-font-size);
        border-bottom: 1px solid var(--border-color);
    }

    .shop__mobile-header.scroll {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        margin-top: calc(16px + var(--header-height));
        background-color: var(--white-color);
        z-index: 4;
    }

    .header__sort-bar.scroll {
        position: fixed;
        top: calc(48px + var(--header-height));
        right: 0;
        left: 0;
        /* margin-top: calc(48px + var(--header-height)); */
        background-color: var(--white-color);
        z-index: 8;
    }
    
    .shop__mobile-title-item {
        flex: 1;
        text-align: center;
        padding: 16px;
        cursor: pointer;
    }

    .shop__mobile-title-item.active {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    }

    .shop__mobile-description {
        padding: 16px 16px 0 16px;
        font-size: var(--normal-font-size);
        background-color: var(--white-color);
        text-align: justify;
        line-height: 24px;
    }

    .shop__mobile-description-paragraph {
        padding-bottom: 16px;
    }

    .shop__mobile-shop-selling {
        margin-top: 12px;
        padding: 16px 0;
        font-size: var(--normal-font-size);
        background-color: var(--white-color);
    }

    .shop__mobile-shop-selling-title {
        padding: 0 16px;
    }

    .shop__mobile-shop-selling-list {
        margin-top: 10px;
    }

    .shop__mobile-shop-selling-item {
        padding: 16px 16px;
        border-bottom: 1px solid var(--border-color);
    }

    .shop__mobile-shop-selling-link {
        display: flex;
        column-gap: 12px;
        text-decoration: none;
        color: var(--text-color);
    }

    .shop__mobile-shop-selling-link-img {
        position: relative;
        overflow: hidden;
        width: 120px;
        height: 120px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .shop__mobile-shop-selling-link-img-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--white-color);
        font-weight: bold;
        font-size: 12px;
    }
    
    .shop__mobile-shop-selling-link-img-top.top-1 {
        background-image: linear-gradient(0, #ff631d, #ff8235);
    }

    .shop__mobile-shop-selling-link-img-top.top-2 {
        background-image: linear-gradient(0, #d19d52, #f3c377);
    }

    .shop__mobile-shop-selling-link-img-top.top-3 {
        background-image: linear-gradient(0, #a6693d, #d99d69);
    }

    .shop__mobile-shop-selling-link-img-top.top-4,
    .shop__mobile-shop-selling-link-img-top.top-5 {
        background-image: linear-gradient(0, #dbdbdb, #e8e5e5);
        color: #5d5d5d;
        justify-content: center;
    }

    .shop__mobile-shop-selling-link-img-top.top-4 .shop__mobile-shop-selling-link-img-top-text,
    .shop__mobile-shop-selling-link-img-top.top-5 .shop__mobile-shop-selling-link-img-top-text {
        display: none;
    }

    .shop__mobile-shop-selling-link-img-top.top-6,
    .shop__mobile-shop-selling-link-img-top.top-7,
    .shop__mobile-shop-selling-link-img-top.top-8,
    .shop__mobile-shop-selling-link-img-top.top-9,
    .shop__mobile-shop-selling-link-img-top.top-10 {
        display: none;
    }

    .shop__mobile-shop-selling-link-img-top.top-4 .shop__mobile-shop-selling-link-img-top-numb,
    .shop__mobile-shop-selling-link-img-top.top-5 .shop__mobile-shop-selling-link-img-top-numb {
        margin-top: 6px;
    }

    .shop__mobile-shop-selling-link-img-top::after {
        position: absolute;
        content: '';
        left: -1px;
        bottom: -15px;
        border-style: solid;
        border-width: 10px 16px 6px;
    }

    .shop__mobile-shop-selling-link-img-top.top-1::after {
        border-color:#ff631d transparent transparent transparent;
    }

    .shop__mobile-shop-selling-link-img-top.top-2::after {
        border-color:#d19d52 transparent transparent transparent;
    }

    .shop__mobile-shop-selling-link-img-top.top-3::after {
        border-color:#a6693d transparent transparent transparent;
    }

    .shop__mobile-shop-selling-link-img-top.top-4::after,
    .shop__mobile-shop-selling-link-img-top.top-5::after {
        border-color:#dbdbdb transparent transparent transparent;
    }

    .shop__mobile-shop-selling-link-desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .shop__mobile-shop-selling-link-desc-name {
        line-height: 20px;
        height: 40px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .shop__mobile-shop-selling-link-desc-price {
        color: var(--primary-color);
    }

    .shop__mobile-shop-view-more {
        padding: 16px 16px 0 16px;
        text-align: center;
    }
    
    .shop__mobile-shop-view-more-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-color);
    }

    .shop__mobile-shop-view-more-icon {
        font-size: 20px;
        margin-left: 4px;
    }

    .shop__mobile-shop-category {
        font-size: var(--normal-font-size);
    }
    
    .shop__mobile-shop-category-item {
        margin-top: 12px;
        background-color: var(--white-color);
        padding: 16px 16px 0 16px;
    }

    .shop__mobile-shop-category-item-header {
        display: flex;
        justify-content: space-between;
    }

    .shop__mobile-shop-category-item-view-more {
        color: var(--primary-color);
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .shop__mobile-shop-category-item-view-more-icon {
        font-size: 20px;
        margin-left: 4px;
    }

    .shop__mobile-shop-view-more-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: var(--white-color);
        z-index: 5;
        display: none;
    }

    .shop__mobile-shop-view-more-modal.open {
        display: block;
    }

    .shop__mobile-shop-view-more-modal-header-icon {
        font-size: 24px;
        color: var(--primary-color);
        padding-right: 10px;
        cursor: pointer;
    }

    .shop__mobile-shop-view-more-modal-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--white-color);
        display: flex;
        font-size: 16px;
        height: var(--header-height);
        align-items: center;
        padding: 0 16px;
        column-gap: 10px;
        z-index: 5;
        /* box-shadow: 0 0 1px rgba(0, 0, 0, .4); */
    }

    .shop__mobile-shop-view-more-modal-body {
        padding-top: calc(var(--header-height) + 12px);
        overflow-y: auto;
        height: 100%;
    }

    .shop__mobile-shop-view-more-modal-body::-webkit-scrollbar {
        display: none;
    }

    .shop__mobile-shop-view-more-modal-body-header {
        display: flex;
        border-bottom: 1px solid var(--border-color);
    }

    .shop__mobile-shop-view-more-modal-body-title {
        flex: 1;
        text-align: center;
        padding: 16px 0;
        cursor: pointer;
    }

    .shop__mobile-shop-view-more-modal-body-title.active {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    }

    .shop__mobile-shop-category-product-list {
        display: flex;
        column-gap: 12px;
        overflow-x: auto;
        scroll-behavior: smooth;
    }

    .shop__mobile-shop-category-product-list::-webkit-scrollbar {
        display: none;
    }

    .shop__mobile-shop-category-product-item {
        position: relative;
        /* min-width: 160px;  Chiều rộng tối thiểu */
        border-radius: 2px;
        border: 1px solid var(--border-color);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
        transition: transform linear .1s;
        will-change: transform; /* Tối ưu chuyển động */
        margin: 20px 0 16px 0;
        text-decoration: none;
        color: var(--text-color);
    }

    .shop__mobile-shop-category-product-item:hover {
        transform: translateY(-1px);
        box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .05);
    }

    .shop__mobile-shop-category-product-item-img {
        width: 160px;
        height: 160px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .shop__mobile-shop-category-product-item-name {
        margin: 10px 10px 6px;
        height: 40px;
        line-height: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .shop__mobile-shop-category-product-item-price {
        margin: 0 0 10px 10px;
        font-size: 16px;
        color: var(--primary-color);
    }

    .shop__mobile-shop-category-product-item-statistical {
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding: 0 0 10px 10px;
    }

    .shop__mobile-shop-category-product-item-stars {
        display: flex;
        align-items: center;
    }

    .shop__mobile-shop-category-product-item-star {
        font-size: 1rem;
        color: var(--star-gold-color);
        transform: scale(0.8);
    }

    .shop__mobile-shop-category-product-item-sold {
        font-size: 12px;
    }

    .shop__mobile-shop-category-product-item-favourite {
        position: absolute;
        top: 10px;
        left: -4px;
        color: var(--primary-color);
        background-color: currentColor;
        font-size: 12px;
        padding-right: 4px;
        border-radius: 0 4px 4px 0;
    }

    .shop__mobile-shop-category-product-item-favourite span {
        color: var(--white-color);
    }

    .shop__mobile-shop-category-product-item-favourite::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -3px;
        border-left: 3px solid transparent;
        border-top: 3px solid currentColor;
        filter: brightness(60%);
    }

    .shop__mobile-shop-category-product-item-favourite-icon {
        color: var(--white-color);
        margin: 0 2px 0 5px;
    }

    .shop__mobile-category {
        background-color: var(--white-color);
        font-size: var(--normal-font-size);
    }
    
    .shop__mobile-category-item {
        border-bottom: 1px solid var(--border-color);
        padding: 16px;
    }

    .shop__mobile-category-item-link {
        display: flex;
        text-decoration: none;
        color: var(--text-color);
        align-items: center;
        column-gap: 12px;
    }

    .shop__mobile-category-item-img {
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .shop__mobile-category-item-info {
        display: flex;
        column-gap: 10px;
    }

    .shop__mobile-category-item-quantity,
    .shop__mobile-category-total-quantity {
        color: rgba(0, 0, 0, .54);
    }

    .shop__mobile-category-item-arrow {
        font-size: 20px;
        margin-left: auto;
    }

    .shop__mobile-category-total {
        display: flex;
        align-items: center;
        padding: 16px;
        column-gap: 10px;
        text-decoration: none;
        color: var(--text-color);
    }

    .shop__mobile-category-total-name {
        height: 40px;
        line-height: 40px;
    }
}

/* Large Medium */
.shop__header {
    background-color: var(--white-color);
    padding: 20px 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    font-size: var(--normal-font-size);
}

.shop__header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.shop__header-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-color);
}

.shop__header-store {
    position: relative;
    margin-right: 30px;
    /* background-image: linear-gradient(0, #da027f ,#e352a7); */
    background-image: url(../img/CanhDep1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 16px;
    border-radius: 4px;
    color: var(--white-color);
}

.shop__header-store-info {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.shop__header-store-info-img {
    position: relative;
    height: 80px;
    width: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 4px solid #877c6f;
}

.shop__header-store-info-img span {
    position: absolute;
    bottom: -8px;
    left: 7px;
    font-size: 12px;
    padding: 1px 4px;
    border-radius: 2px;
    background-color: var(--primary-color);
}

.shop__header-store-info-name {
    font-size: 20px;
    margin-bottom: 6px;
}

.shop__header-store-info-online {
    font-size: 12px;
}

.shop__header-store-btns {
    display: flex;
    margin-top: 10px;
    column-gap: 10px;
}

.shop__header-store-btn {
    flex: 1;
    padding: 6px 0;
    border: 1px solid var(--white-color);
    text-align: center;
    border-radius: 2px;
}

.shop__header-store-btn-icon {
    font-size: 16px;
    margin-right: 10px;
}

.shop__header-row {
    padding: 10px 0;
}

.shop__header-row-icon {
    font-size: 18px;
    margin: 0 10px;
}

.shop__header-row span {
    color: var(--primary-color);
}

.shop__info {
    margin-top: 20px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    padding: 20px 30px 35px;
    font-size: var(--normal-font-size);
    color: var(--text-color);
}

.shop__info-title {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.shop__info-container {
    display: flex;
    column-gap: 30px;
}

.shop__info-slider,
.shop__info-desc {
    flex: 1;
}

.shop__info-slider {
    position: relative;
    height: 290px;
    overflow: hidden;
}
    
.shop__info-slider-list {
    position: relative;
    width: 100%;
    height: 290px;
    transition: all .5s ease 0s;
}                

.shop__info-slider-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    cursor: pointer;
}

.shop__info-slider-item:nth-child(2) {
    transform: translateX(100%);
}

.shop__info-slider-item:nth-child(3) {
    transform: translateX(200%);
}

.shop__info-slider-item:nth-child(4) {
    transform: translateX(300%);
}

.shop__info-slider-item:nth-child(5) {
    transform: translateX(400%);
}

.shop__info-slider-dot {
    position: absolute;
    bottom: 10px;
    display: flex;
    column-gap: 6px;
    left: 50%;
    transform: translate(-50%);
    transition: opacity .1s cubic-bezier(.4, 0, .2, 1);
}

.shop__info-slider-dot span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .26);
    cursor: pointer;
}

.shop__info-slider-dot span.slider-shop-cirle-fill {
    background-color: var(--primary-color);
}

.shop__info-slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shop__info-slider-arrow-prev,
.shop__info-slider-arrow-next {
    font-size: 32px;
    background-color: rgba(0, 0, 0, .4);
    padding: 10px 0px;
    color: var(--white-color);
    cursor: pointer;
}

.shop__info-slider-arrow-prev {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.shop__info-slider-arrow-next {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.shop__info-desc {
    text-align: justify;
    line-height: 24px;
}

.shop__info-desc-paragraph {
    margin-bottom: 16px;
}