* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    overflow: hidden;
    /* background-color: #f5f5f5; */
    background-image: linear-gradient(0,#fe6433,#fe532d);
}

.app.hight {
    height: 100vh;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    height: 80px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
}

.header__text {
    display: flex;
    align-items: center;
}

.header__text-logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: var(--primary-color);
    padding: 10px;
}

.header__logo-img {
    width: 160px;
}

.header__text-name {
    font-size: 24px;
    margin-top: 4px;
}

/* Login */
.auth {
    display: grid;
    place-items: center;
    padding: 40px 0;
    /* background-image: linear-gradient(0,#fe6433,#fe532d); */
}

.auth__content {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.auth__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__left-img {
    margin-bottom: 20px;
}

.auth__content-logo {
    width: 260px;
}

.auth__left-sub {
    font-size: 24px;
    color: var(--white-color);
    /* font-weight: bold; */
}

.auth__left-sub.sub-2 {
    margin-top: 20px;
}

.auth__right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.auth-form {
    display: grid;
}

/*Form*/
/* Authen Modal*/
.auth-form {
    margin-inline: 0 1.5rem;
    width: 400px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
}

.auth-form__container {
    padding: 30px 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 12px; */
}

.auth-form__heading {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__close {
    font-size: 2rem;
    color: var(--text-color);
}

.auth-form__form {
    margin-top: 24px;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font);
}

.auth-msg__err {
    color: var(--primary-color);
    font-size: 12px;
    margin-top: 10px;
    display: block;
}

    .auth-form__input:focus {
        border-color: #888;
    }

.auth-form__aside {
    margin: 18px 0;
}

.auth-form__result {
    font-size: var(--normal-font-size);
    color: var(--primary-color);
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__policy-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    /* background-color: #f5f5f5; */
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-icon {
    font-size: 18px;
}

.auth-form__socials--facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}

.btn.btn--size-color {
    color: var(--white-color);
}

.auth-form__btn {
    padding: 12px 0;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 2px;
    width: 100%;
    color: var(--white-color);
}

.auth-form__btn:hover {
    opacity: .9;
    cursor: pointer;
}

.auth-form__or {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
}

.auth-form__or-line {
    height: 1px;
    width: 100%;
    background-color: #dfdfdf;
}

.auth-form__or-title {
    text-transform: uppercase;
    color: #757575;
    background-color: var(--white-color);
    padding: 0 12px;
}

.auth-form__socials--facebook .auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 20px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 16px;
    margin: 0 16px;
}

.auth-form__help-link-fogot {
    color: var(--primary-color);
}

.auth-form__agree {
    padding: 4px 0 16px 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.auth-form__agree-link {
    color: var(--primary-color);
}

.auth-form__footer {
    padding: 20px 0 40px 0;
    text-align: center;
}

.auth-form__footer-link {
    color: var(--primary-color);
}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 739px) {
    .header {
        height: var(--header-height);
    }

    .header__mobile {
        display: flex;
        align-items: center;
        font-size: var(--normal-font-size);
    }

    .header__mobile-arrow {
        cursor: pointer;
    }

    .header__mobile-arrow-icon {
        font-size: 2.4rem;
        color: var(--primary-color);
        margin-right: 12px;
    }

    .header__mobile-question {
        font-size: 2rem;
        color: var(--primary-color);
        margin-left: auto;
    }

    .app__container {
        padding-top: calc(20px + var(--header-height));
    }

    .auth__mobile {
        padding-top: calc(20px + var(--header-height));
        background-color: var(--white-color);
        font-size: var(--normal-font-size);
        color: var(--text-color);
        padding-bottom: 40px;
    }

    .auth__mobile-logo {
        display: flex;
        justify-content: center;
        padding: 40px 0 30px;
    }

    .auth__mobile-logo-img {
        width: 80px;
        height: 80px;
    }

    .auth__mobile-form {
        width: 100%;
        padding: 0 20px 40px 20px;
    }

    .auth__mobile-form-div {
        width: 100%;
        height: var(--header-height);
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
    }

    .auth__mobile-form-icon {
        font-size: 2rem;
        margin-right: 20px;
        color: rgba(0, 0, 0, .54);
    }

    .auth__mobile-form-input {
        padding: 10px 0;
        width: 100%;
        border: none;
        outline: none;
        font-family: 'Roboto', sans-serif;
        color: var(--text-color);
    }

    .auth__mobile-form-input::placeholder {
        font-family: 'Roboto', sans-serif;
    }

    .auth__mobile-form-password {
        display: flex;
        align-items: center;
    }

    .auth__mobile-form-password-show {
        position: relative;
        margin-right: 20px;
        cursor: pointer;
    }

    .auth__mobile-form-password-show::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 20px;
        background-color: var(--border-color);
        right: -10px;
    }

    .auth__mobile-form-password-show-icon {
        font-size: 2rem;
        color: rgba(0, 0, 0, .54);
    }

    .auth__mobile-form-password-forgot {
        text-decoration: none;
        color: #5c84cc;
    }

    .auth__mobile-form-msg {
        margin-top: 16px;
        display: inline-block;
    }

    .auth__mobile-form-msg.error {
        color: var(--primary-color);
    }

    .auth__mobile-form-btn {
        border: none;
        margin-top: 16px;
        width: 100%;
        text-align: center;
        background-color: #e8e8e8;
        padding: 14px 0;
        color: #ababab;
    }

    .auth__mobile-form-btn:hover {
        background-color: #ddd8d8;
    }

    .auth__mobile-form-link {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }

    .auth__mobile-form-link-register,
    .auth__mobile-form-link-sms {
        text-decoration: none;
        color: #5c84cc;
    }

    .auth__mobile-or {
        display: flex;
        justify-content: center;
    }

    .auth__mobile-or-title {
        display: flex;
        align-items: center;
        column-gap: 16px;
        color: #707070;
    }

    .auth__mobile-or-title span {
        display: inline-block;
        height: 1px;
        width: 100px;
        background-color: #dfdfdf;
    }

    .auth__mobile-bottom-btns {
        margin-top: 30px;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    .auth__mobile-bottom-btn {
        position: relative;
        text-decoration: none;
        color: var(--text-color);
        text-align: center;
        width: 100%;
        padding: 14px 0;
        border: 1px solid #b9b9b9;
        border-radius: 2px;
    }

    .auth__mobile-bottom-btn-icon {
        font-size: 2.4rem;
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(0, 0, 0, .54);
    }

    .auth__mobile-bottom-btn-facebook-icon {
        color: #2473ea;
    }

    .auth__mobile-form-password-regis {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .auth__mobile-agree {
        font-size: 12px;
        text-align: center;
        margin-top: 20px;
    }

    .auth__mobile-agree-link {
        text-decoration: none;
        color: #2473ea;
        text-transform: uppercase;
        line-height: 20px;
    }
}

/*Footer*/
.footer {
    border-top: 4px solid transparent;
    padding-top: 12px;
    background-color: #f5f5f5;
}

.footer__bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

