.app.hight {
    height: 100vh;
    background-color: #fefaf7;
}

/* Header */
header {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    height: 80px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, .06);
}

.header__text {
    display: flex;
    align-items: center;
}

.header__text-logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: var(--primary-color);
    padding: 10px;
}

.header__logo-img {
    width: 160px;
}

.header__text-name {
    font-size: 24px;
    margin-top: 4px;
}

/* User Portal Start */
.portal__start {
    width: 800px;
    margin: 30px auto 0;
    padding: 60px 0;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    display: flex;
}

.portal__start-box {
    width: 180px;
    height: 180px;
    background-color: #87bcb4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.portal__start-box-icon {
    font-size: 100px;
    color: var(--white-color);
}

.portal__start-welcome {
    font-size: 16px;
}

.portal__start-please {
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, .54);
}

/* User Portal Container */
.portal__container {
    width: 800px;
    margin: 30px auto 100px;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
    padding: 20px 24px;
}

.portal__steps {
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 100px;
    color: rgba(0, 0, 0, .24);
    padding: 10px 0 30px;
}

.portal__step {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
}

.portal__step.active {
    color: var(--primary-color);
}

.portal__step.active .portal__step-box {
    background-color: var(--primary-color);
}

.portal__step-line-1 {
    position: absolute;
    top: 15px;
    left: 325px;
    height: .5px;
    width: 120px;
    background-color: rgba(0, 0, 0, .24);
}

.portal__step-line-1.active {
    background-color: var(--primary-color);
}

.portal__step-box {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .24);
}

.portal__shop-container {
    padding: 40px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.portal__shop-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* width: 600px; */
}

.portal__shop-row {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.portal__shop-col-1 {
    width: 200px;
    text-align: right;
}

.portal__shop-col-2 {
    flex: 1;
}

.portal__shop-box {
    height: 40px;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 12px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

.user-portal__box-username.err,
.user-portal__box-fullname.err,
.user-portal__input-birth.err {
    border: 1px solid var(--primary-color);
}

.user-portal__msg-err {
    font-size: 12px;
    color: var(--primary-color);
    margin-top: 10px;
}

.portal__tax-code-name {
    margin-bottom: auto;
    height: 40px;
    line-height: 40px;
}

.portal__shop-input-name,
.portal__shop-input-email {
    height: 100%;
    width: 100%;
}

.portal__shop-box span {
    color: rgba(0, 0, 0, .54);
}

.portal__shop-bottom {
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
    padding-top: 20px;
}

.portal__shop-btn-save {
    padding: 12px;
    text-align: center;
    color: rgba(0, 0, 0, .54);
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.portal__shop-btn-save:hover {
    background-color: rgba(0, 0, 0, .02);
    cursor: pointer;
}

.portal__shop-btn-next {
    padding: 12px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 4px;
}

.portal__shop-btn-next:hover {
    opacity: .9;
    cursor: pointer;
}

/* User Portal Pic Image */
.admin__profile-shop-table-logo {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.admin__profile-shop-table-username-text {
    height: 40px;
    line-height: 40px;
}

.admin__profile-shop-table-row-center {
    align-items: center;
}

.admin__profile-shop-table-logo-thumb {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.admin__profile-shop-table-logo-img {
    width: 100%;
}

.admin__profile-shop-table-logo-sub {
    margin-left: 16px;
    line-height: 20px;
    font-size: 13px;
    color: rgba(0, 0, 0, .54);
    flex: 1;
}

.admin__profile-shop-table-logo-pic {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 4px 0;
    color: var(--white-color);
    background-color: #515983;
}

/* User Portal Gender */
.profile__table-box {
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 40px;
}
.profile__table-box input[type=radio] {
    height: 24px;
    width: 24px;
    accent-color: var(--primary-color);
}

.user-portal__input-birth {
    height: 40px;
    padding: 0 12px;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* User Portal Success */
.portal__success {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--border-color);
}

.portal__success-container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.portal__success-box {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c7;
}

.portal__success-box-icon {
    font-size: 30px;
    color: var(--white-color);
}

.portal__success-title {
    font-size: 18px;
    text-align: center;
}

.portal__success-sub {
    line-height: 20px;
    text-align: center;
}

.portal__success-btn {
    text-align: center;
}

.user-portal__btn-save {
    display: flex;
    column-gap: 10px;
}

.user-portal__btn-save-spinner {
    width: 20px;
    height: 20px;
    border: 2px solid #dedede;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner .7s linear infinite;
}